[2020-11-15 15:22] ang-zeyu commented on #1353
(1) and (4) have been merged in

for (2), I noticed that the current requirement of allowing variables in json to also reference other variables makes the re-implementation considerably more complex, but not impossible

I'm thinking that external variables should not be allowed to do so, since
-  the use case for sourcing external variables usually is some dataset that is _independent_ of the mark

[2020-11-15 15:28] damithc commented on #1353
I guess we can live without it. So, go ahead. 👍

[2020-11-22 15:09] damithc opened #1394 "Themes report a missing css file"
~~v2.5.2 (one version older than the current)~~ v2.16.0

When using a theme `bootswatch-pulse`, I get this error:

warn:  message=ENOENT: no such file or directory, lstat 'C:\Users\damithch\AppData\Roaming\npm\node_modules\markbind-cli\node_modules\@markbind\core\src\node_modules\bootswatch\dist\pulse\bootstrap.min.css', name=Error, errno=-4058, code=ENOENT, syscall=lstat, path=C:\Users\damithch\A

[2020-11-22 16:25] damithc opened #1395 "Highlighting in headings overlap the previous line"
v2.16.0

![image](https://user-images.githubusercontent.com/1673303/99909250-4eda4f00-2d22-11eb-937b-7f3101d04978.png)

https://nus-cs3281.github.io/website/admin/cs3282.html

[2020-11-28 13:20] damithc opened #1396 "highlight.js EOL"
I see this when I deploy a site. Is this something we should take action on?

Please upgrade or ask whatever dependency you are using to upgrade.
https://github.com/highlightjs/highlight.js/issues/2877

[2020-11-28 15:30] ang-zeyu commented on #1396
Likely, seems like v10 has better highlighting in general

[2020-11-28 15:59] #1394 closed

[2020-11-28 16:25] ang-zeyu commented on #1353
will be getting a new release out tonight with a few hotfixes (hopefully that's stable =P)

since that's all on the deprecation plate, I will be fast tracking the code to v3.0 from now on as well since full deprecation of this is necessary for the aims.

It'll mostly be backend changes requiring / including deprecation of some frontend features:
- Much simpler architecture
- Much improved performa

[2020-11-29 01:56] ang-zeyu commented on #1308
may be nice to include this in v3.0 as a breaking change to layouts since it can dramatically simplify things. (but more migration work needed)

@damithc @crphang any thoughts?

Options:

1. preserve the old layout system for now
   - all good 👍

---

2. Fully replicate https://www.11ty.dev/docs/layouts/
   - the site-nav would be component-fied (e.g. `<mb-site-nav>`)
   - pros:
     - really simp

[2020-11-29 04:01] damithc commented on #1308
I'm OK if usability costs are outweighed by other gains. You can use CS2103 site as a benchmark as that's the most complicated MarkBind site we have (also used in 5 other modules).

[2020-11-29 04:42] #1353 closed

[2020-11-29 05:13] ang-zeyu commented on #1308
It should be more user-friendly eitherway, since the current system requires keeping track of multiple layout files. (imo)
Going forward (either option 2 or 3), we would just have a flat `layouts` directory:

[code]

you'll also be able to use `<include />`s, etc. in these layout files so there's no restriction on where / how to maintain separate header / sitenav / topnav files if preferred.

[2020-11-29 05:16] ang-zeyu commented on #1308
Any opinions on option 2 / 3 though? 😮

2 would be

[code]

3 could be

[code]

[2020-11-29 05:28] damithc commented on #1308
For option 2, what would be the baseline `<head>` content?

[2020-11-29 05:49] ang-zeyu commented on #1308
hmm good point, just realised it would be a little difficult to insert to go with option 2 since we have baked in essential assets (octicons, highlightJs, ...) vs something like https://www.11ty.dev/docs/layouts/ which dosen't

[code]

should we go with (3) then? There's the issue of custom scripts (inserted after our own scripts after the `<body>` tag) if we were to go with option 3 I forgot to m

[2020-11-29 06:07] damithc commented on #1308
Sure, can give option 3 a try. You might gain further insights as you implement/test it.

[2020-11-30 05:15] damithc opened #1400 "Add mention for node version configuration in netlify setup"
Noticed se-edu/se-book PRs failing netlify preview e.g., https://app.netlify.com/sites/se-edu-se-book/deploys/5fc3ac712225840008236464

Is this a problem related to the new MarkBind version?

[2020-11-30 07:03] ang-zeyu commented on #1400
`notsup Unsupported engine for fs-extra@9.0.1: wanted: {"node":">=10"} (current: {"node":"8.17.0","npm":"6.13.4"})`

nope, you'll need to upgrade the node version netlify is using

https://docs.netlify.com/configure-builds/manage-dependencies/

[2020-11-30 07:44] damithc commented on #1400
Thanks. Is this mentioned (or should we mention it) in our own documentation of setting up Netlify for MarkBind?

[2020-11-30 08:37] ang-zeyu commented on #1400
nope as well, let's add it in 👍

[2020-11-30 15:18] acjh commented on #1400
The `fs-extra` dependency was introduced in #1351 (released in 2.17.0).

The [User Guide](https://markbind.org/userGuide/gettingStarted.html) does mention the Node.js version in the Prerequisites:

The mention was added in #953 (released in 2.8.0), where I commented:

[2020-11-30 15:48] ang-zeyu commented on #1400
I think @damithc was referring to an explicit step / warning box to set the NODE_VERSION in netlify, since we have a guide for that. Could add that in.

https://markbind.org/userGuide/deployingTheSite.html#deploying-to-netlify

[2020-12-01 02:00] ang-zeyu commented on #972
I'm going to encapsulate (1) and (2) for the v3 'rewrite' for now, it may lead to easier-to-predict behaviour

Footnote definitions can still be reused via nunjucks' `{% include %}` which is preprocessed.
It'll be a long way to a proper v3 release so we can change things as needed as well 🙂

(3) should definitely be a thing though

[2020-12-02 12:20] damithc commented on #1400
Managed to fix the build. Spews out a lot of intra-link warning though. Intended? https://app.netlify.com/sites/se-edu-se-book/deploys/5fc784bb3bd97f6acf27bf9e

[2020-12-02 12:36] damithc opened #1401 "Code blocks: inconsistent light/dark mode use when printing"
v2.17.0

current: inline code remain in dark mode while regular code blocks change to light mode
suggested: both should use the light mode for printing

![image](https://user-images.githubusercontent.com/1673303/100873210-eb001500-34dd-11eb-9341-2c5fc9ab0b53.png)

[2020-12-04 21:16] raysonkoh commented on #1401
I am unable to reproduce this locally with Markdown v2.17.0. May I know what is the value of `codeTheme` set to in `site.json` and could you provide an extract of the markdown code for that section?

[2020-12-05 02:46] damithc commented on #1401
The problem appears when you convert a page to PDF, using [this technique](https://se-education.org/guides/tutorials/savingPdf.html). In the PDF (meant for printing), all code should use the light background even if using the dark background in the web page.

Let me know if you still can't reproduce.

[2020-12-05 03:17] ang-zeyu commented on #1401
should we just remove / comment the dark style for inline code for now?

Since in an earlier issue its was agreed that it makes the site look 'patchy'. (then we can get dark style out in the docs as well)

Not sure if there would be a good use case for it though. If there is, perhaps we can additionally provide an `inlineCodeTheme` configuration

@ryoarmanda

[2020-12-05 06:42] raysonkoh commented on #1401
I can reproduce this issue now. I suspect the issue might be when `codeTheme` is set to dark and how chrome saves the pdf with the `Background graphics` option checked.

The issue does not appear when `codeTheme` is set to light. (Refer to ss below)
![image](https://user-images.githubusercontent.com/16506539/101235963-e454e600-3707-11eb-8f28-3bd76257d43a.png)

[2020-12-05 06:51] damithc commented on #1401
Yes, that's expected. when the code theme is set to light, the printed version follows the same and there is no problem.
When the code theme is set to dark, the printed version is still supposed to switch back to the light theme (to save ink), and that switch is not happening for inline code (but works as expected for regular code blocks) -- that's the inconsistency raised by this issue. What miss

[2020-12-05 07:41] raysonkoh commented on #1401
I have some idea on how to implement a fix for this using CSS, can I take up this issue?

[2020-12-05 07:48] damithc commented on #1401
Sure, have a go at it.

[2020-12-05 08:57] raysonkoh commented on #1401
Hi all, my PR is ready for review.

[2020-12-05 10:09] ang-zeyu commented on #895
Closed (#1382)

[2020-12-05 10:09] #895 closed

[2020-12-05 10:16] ang-zeyu opened #1405 "Ideas for enhancing markbind serve -o"
**Is your request related to a problem?**

`markbind serve -o` allows serving a single page from a site quickly without building the whole site, and rebuilds the page whenever its dependencies change. It also allows for on-demand building of other pages when navigated to.

Issues:
- Still some amount of time spent observing the spinning logo 🤔
- Author cannot 'develop on multiple tabs', because on

[2020-12-05 10:23] ang-zeyu opened #1406 "Vue compilation at build-time and SSR"
**Is your request related to a problem?**

MarkBind has rather observable fouc. Some temporary styles are in place to combat this, but does not solve the root of the issue:
- Vue compilation for the page happens in-browser. This very costly especially for a static site generator where a single page can get very, very large
- No SSR in place

**Describe the solution you'd like**

1. At the very lea

[2020-12-05 10:28] ang-zeyu commented on #48
Very much still applicable

[2020-12-05 13:38] #1401 closed

[2020-12-06 10:25] ang-zeyu commented on #973
now possible with the new layouts system #1403, as overflow can be set just on the `<site-nav>` component itself

I've ensured this works with the user guide and `markbind init` templates, but left the search bar on the top right

[2020-12-06 10:26] ang-zeyu commented on #896
possible with processing order change in #1403

[2020-12-06 10:34] #1181 closed

[2020-12-08 00:32] raysonkoh commented on #1400
Hi guys, is this issue still valid? I can take up this issue if no one is doing it.

[2020-12-08 12:14] ang-zeyu commented on #1400
Sure 👍

[2020-12-08 13:11] raysonkoh commented on #1400
My PR is ready for review.

[2020-12-08 14:12] #1400 closed

[2020-12-09 01:01] raysonkoh commented on #925
I'm thinking of adding a new option to the Panel component something along the lines of `expand-headerless` which is of type boolean.

If it is set to true, then no header would be shown when the Panel is expanded. Else if it is false then it will be the current behavior.

If this design is acceptable I will start working on implementing this. Let me know if there are any Panel-related quirks that

[2020-12-09 04:06] damithc commented on #925
I'm OK with it. @ang-zeyu what do you think? Is the additional maintenance cost worth the somewhat-low utility?

[2020-12-09 10:20] pr4aveen opened #1411 "Typos found in user guide"
I was reading the user guide for MarkBind and came across two typos.

1. `ommitted` instead of `omitted` in `syntax/headings.mbdf`
2. `sey` instead of `say` in `markBindInTheProjectWorkflow.md`

Is it ok if I raise a PR to fix them?

[2020-12-09 10:24] damithc commented on #1411
Go ahead @pr4aveen

[2020-12-09 15:34] #1411 closed

[2020-12-09 15:59] ang-zeyu commented on #925
👍 don't think there's a maintenance risk for this

`expand-headerless` seems a little lengthy though, any ideas for a shorter attribute? (not pressing if none though)

[2020-12-09 16:00] ang-zeyu commented on #925
On the topic, @wxwxwxwx9 is working on #905; maybe we could utilise this in #905 as well:

if peek mode -> also make the panel expand-headerless

[2020-12-10 07:17] raysonkoh commented on #925
@ang-zeyu I can't seem to find any tests that were written for the Panel components. Am I looking in the right place?

![image](https://user-images.githubusercontent.com/16506539/101734153-d41f7b00-3afa-11eb-8da1-c18f89fc0bd3.png)

[2020-12-10 12:34] ang-zeyu commented on #925
yup - we don't have any tests for panels yet

jest snapshot testing was added rather recently in https://github.com/MarkBind/vue-strap/pull/146

[2020-12-10 16:08] #1093 closed

[2020-12-10 22:59] joshgoebel commented on #1396
To be clear now v9 also has potentially serious security issues for anyone using it to highlight user provided content:

https://github.com/highlightjs/highlight.js/security/advisories/GHSA-7wwv-vh3v-89cq

[2020-12-11 09:49] daongochieu2810 commented on #1304
Hi I have made changes to the UI as suggested, but the tests are failing because of outdated snapshots. Can I  still submit the PR? Thanks

[2020-12-11 15:07] damithc opened #1416 "PlantUML diagrams cause false-positive invalid intra-link warnings"
v2.17.0

Steps: Generate the CS2103 website

Problem:
![image](https://user-images.githubusercontent.com/1673303/101919472-90fdfe80-3c05-11eb-932e-23af093e4e9f.png)

[2020-12-11 17:38] #1390 closed

[2020-12-12 02:41] #539 closed

[2020-12-12 02:41] #810 closed

[2020-12-12 02:41] #972 closed

[2020-12-12 02:41] #973 closed

[2020-12-12 02:41] #1188 closed

[2020-12-12 02:41] #1240 closed

[2020-12-12 02:41] #1308 closed

[2020-12-12 03:04] ang-zeyu commented on #1416
race condition as the image link was being checked instead of the puml source file link, fixed in #1403's restructure

I'll could get a hotfix out (2.7.1), by disabling the link checks for `pic` (so no link checks for these as well); a proper fix would require quite substantial changes

would it be worth it? @damithc
Could include the inline dark mode fix in #1404 as well

[2020-12-12 03:13] damithc commented on #1416
Go ahead @ang-zeyu :+1:

[2020-12-12 03:52] ang-zeyu commented on #1416
All done : )

Also included hljs update #1396 which went without a hitch

release notes shortly

[2020-12-12 03:52] #1416 closed

[2020-12-12 05:16] damithc opened #1418 "Improve broken link reporting"
MarkBind reports broken intra-site links during the build process (e.g., `markbind serve` command). Following improvements are suggested (can do in separate PRs):

- [x] Report each broken link only once (priority.Medium) (d.moderate)
- [x] Support validating `#hashes` for `<a>` tags _efficiently_ (priority.Medium) (d.moderate / high)
- [x] Provide a way to disable broken link reporting (priority.

[2020-12-12 06:19] raysonkoh commented on #925
Hi all, my PR is ready for review.

[2020-12-12 14:58] #925 closed

[2020-12-13 12:43] #1304 closed

[2020-12-13 13:16] #1396 closed

[2020-12-13 14:12] ang-zeyu commented on #243
I agree with @acjh here, this may lead to very unpredictable behaviour.

also this pro should no longer be as applicable with intralink validation implemented

are there any other wins for this? @damithc

[2020-12-13 14:16] ang-zeyu commented on #385
does this still occur? @damithc

I've never encountered this before

May have been a dependency upgrade somewhere that fixed it

[2020-12-13 14:27] ang-zeyu commented on #602
quite a few now; closing as its a continuing work :-)

[2020-12-13 14:27] #602 closed

[2020-12-13 14:48] damithc commented on #385
I've never encountered it myself. Let's close for now.

[2020-12-13 14:48] #385 closed

[2020-12-13 14:52] damithc commented on #243
I think we can abandon this one now.

[2020-12-13 14:52] #243 closed

[2020-12-13 14:53] ang-zeyu commented on #1314
closing per discussion in #1332

[2020-12-13 14:53] #1314 closed

[2020-12-13 15:04] ang-zeyu commented on #1418
`<pic>` link checks are only disabled for v2.7.x (separate branch), and remains in the current working branch without issues.

it's certainly fixable in v2.7.x, but would require a moderate amount of effort

[2020-12-13 15:25] ang-zeyu opened #1421 "Adopt typescript for the backend"
**Is your request related to a problem?**

The readability of the backend (`core` package) codebase can really benefit from some strict typing.

**Describe the solution you'd like**

Migrate to typescript

Requirements:
- The migration should be able to be done incrementally
- Adjustments should be made to the dev workflow such that it isn't more cumbersome than before. We may provide npm scripts

[2020-12-13 15:49] #1387 closed

[2020-12-14 14:37] damithc opened #1424 "search not working"
Guys, the search box doesn't seem to work in v2.16 onwards e.g., https://se-education.org/se-book/

I didn't notice it as I was using v2.15.* until recently

Let me know if you can't reproduce

[2020-12-14 15:20] ang-zeyu commented on #1424
yikes, algolia plugin regression from https://github.com/MarkBind/markbind/commit/dbbe9d84e7452183a6b8b9c175a39d36223d0758

I've released a quick fix: https://www.npmjs.com/package/markbind-cli/v/2.17.2

Could you retest? (don't have an algolia key)

[2020-12-14 15:40] damithc commented on #1424
Yup, that worked. Thanks @ang-zeyu

[2020-12-14 15:44] damithc commented on #1004
@le0tan any chance your work can be resumed? We can host the action in a repo inside the markbind org.

[2020-12-15 05:33] damithc commented on #1418
@wxwxwxwx9 Any thoughts on this item?

[2020-12-15 06:50] wxwxwxwx9 commented on #1418
@damithc I think this is quite do-able. To implement this, I'm thinking of adding a new field in "site.json". Maybe something called "validateIntralink" as a key with a boolean as the value.

As the "site.json" is read and transformed into "SiteConfig", we can pass down "validateIntralink" to "linkProcessor" to indicate whether we should even validate any link(s) in the first place. I think this s

[2020-12-15 13:58] le0tan commented on #1004
@damithc the action is actually working as expected, sample repo [here](https://github.com/le0tan/mb-action-test)

[2020-12-15 14:43] damithc commented on #1004
Nice.

While we figure out how to do that, can you create a PR to update the user guide?

[2020-12-15 14:46] damithc commented on #1004
Done.

[2020-12-15 15:01] le0tan commented on #1421
Looks like `cli` is now an independent npm package that depends on `core` - is there any way to make `require('@markbind/core/src/...')` depends on the local version?

[2020-12-15 15:24] #1424 closed

[2020-12-15 15:25] ang-zeyu commented on #1421
@le0tan should be already, we have some updated setup instructions :-)
https://markbind.org/devdocs/devGuide/settingUp.html#setting-up-the-dev-environment

[2020-12-15 15:41] le0tan commented on #1421
@ang-zeyu Looks like the dev guide should replace running `npm link` under `packages/cli` with running `lerna link` under the repo root?

[2020-12-15 15:54] ang-zeyu commented on #1421
`npm link` is only for executing `markbind xx` commands globally for development, [`lerna link`](https://github.com/lerna/lerna/tree/main/commands/link) does not do the same

`npm run setup` executes [`lerna bootstrap`](https://github.com/lerna/lerna/tree/main/commands/bootstrap) which does installation + also cross-package symlinking

[2020-12-17 10:07] pr4aveen opened #1429 "Small search bar and cropped dropdown menu on iPad"
**Tell us about your environment**

[CS2103T module website](https://nus-cs2103-ay2021s1.github.io/website/index.html) opened on an iPad Air 3.

* **MarkBind Version:** MarkBind 2.15.2

**What did you do? Please include the actual source code causing the issue.**

I opened the CS2103T module website using Safari on my iPad Air 3 in portrait mode. It has been zoomed out all the way.

I have not ide

[2020-12-19 14:48] ang-zeyu commented on #1429
related:

https://github.com/MarkBind/markbind/issues/591
#980

we need a more responsive navbar system overall that deals with this by-design

[2020-12-30 08:45] ang-zeyu opened #1432 "Support more CI platforms for markbind deploy"
**Is your request related to a problem?**
#1386

The `markbind deploy` command only has a `--travis` option tailored for travis. (uses travis's `TRAVIS_REPO_SLUG` environment variable)

We should support more platforms and make the option generalizable

**Describe the solution you'd like**

1. Extract `--travis` into `--ci` instead
2. if the `repo` site config option is present, extract the repo s

[2021-01-03 16:29] damithc opened #1437 "Support live preview for changes to variables.md"
Current: When in live preview mode, the server needs to be restarted to preview any changes to the variables.md
Suggested: Support live-previewing changes to the variables.md

[2021-01-03 16:31] damithc commented on #163
Haven't noticed this recently. Closing.

[2021-01-03 16:31] #163 closed

[2021-01-03 16:34] damithc commented on #458
Let's close it for now. Will reopen if it crops up again.

[2021-01-03 16:34] #458 closed

[2021-01-03 16:38] damithc commented on #418
Doesn't seem to happen anymore

[2021-01-03 16:38] #418 closed

[2021-01-03 16:40] damithc opened #1438 "Omit 'scroll to top' button from the printable version"
The 'scroll to top' button appears in the PDF file when converted to PDF. Can we omit it from _printable_ versions automatically?

![image](https://user-images.githubusercontent.com/1673303/103483903-75ad9a00-4e25-11eb-8bcf-7d20b2306828.png)

[2021-01-03 16:46] damithc commented on #1395
Not limited to headings e.g.,
![image](https://user-images.githubusercontent.com/1673303/103483985-3469ba00-4e26-11eb-837b-21234828ac7b.png)

[2021-01-04 10:19] ang-zeyu commented on #1437
Release a hotfix: https://www.npmjs.com/package/markbind-cli/v/2.17.3
along with #1419 to disable link validation

[2021-01-04 10:28] #1437 closed

[2021-01-05 04:53] damithc opened #1442 "Support live preview for changes in imported nunjucks files"
This may be not easy to implement but it would be great if the live preview can be rebuilt/refreshed when the author modifies a file that the current page depends on via a nunjucks `import`.
If the above can be supported, most likely the author doesn't need to restart the server at all during an authoring session.

A shortcut: Rebuild the page if _any_ page containing nunjucks code is modified? I

[2021-01-05 08:37] ang-zeyu commented on #1442
Should be present as part of #1353's requirements already. Could you confirm?

also works for every nunjucks tag that references a file (include / import / extends / ...)

[2021-01-05 08:48] damithc commented on #1442
I'm using the latest released version and I don't see this feature yet. At least, there are cases where I update a nunjucks macro but the live preview doesn't reflect it. Perhaps some complicated dependencies are not captured? For example, previewing file F1 that includes a fragment from F2 that imports a macro from F3 but F3 imports a variable from F4. Will F1 live preview reflect changes done to

[2021-01-05 09:27] ang-zeyu commented on #1442
just tested the scenario you described, it works isolated;

I'm guessing it does not work when some other file also references f2 / f3 / f4 (though it would still refresh up to f2). (is this the case?)

[2021-01-05 09:32] damithc commented on #1442
This is possible. You know how complicated the CS2103 website is :-p I can give the exact steps to reproduce when I go home later tonight.

[2021-01-05 09:36] ang-zeyu commented on #1442
nvm just tested and works as well 🤔

I'll wait for the steps =P

[2021-01-05 14:43] #1438 closed

[2021-01-05 14:43] damithc commented on #1442
One place where I could reproduce the problem involves the following `include` which is calculated dynamically (in `admin/lectures.md`).
`<include src="../_module-{{ module | lower }}/timetables.mbdf#lectures-s{{ S }}" inline />`

I guess the above is a rare case and OK to not cater for. I'm almost sure there were other cases but can't remember them now. I'll post when I encounter another next tim

[2021-01-05 15:08] ang-zeyu commented on #1442
which site is this?

I couldn't find any nunjucks tags `{% ... %}` in the various `timetables.mbdf` [here](https://github.com/nus-cs2103-AY2021S1/website)

[2021-01-05 15:34] damithc commented on #1442
This case is not related to nunjucks imports. I suspect it is because MarkBind can't figure out which file is being included as the `src` attribute contains nunjucks variables. Is that the case?
However, I noticed that the page indeed gets refreshed when I edit the timetables.mbdf but the edit doesn't get reflected in the refreshed page.

[2021-01-05 16:02] ang-zeyu commented on #1442
hmm it should be able to as nunjucks is processed first, even in `v2.7.x`;

does manually refreshing once more work? I've noticed sometimes the page appears to refresh, but needs another manual refresh to actually show the changes.

but this would be a separate issue eitherway

[2021-01-05 16:07] damithc commented on #1442
Tried just now. Doesn't seem to work.

Yup.

[2021-01-05 16:20] ang-zeyu commented on #1442
its occuring due as our filepaths checks are case sensitive:
you can temporarily remove the `lower` filter in `<include src="../_module-{{ module | lower }}/... />`

this should be fixed, though.

are the other cases similar? (not concerning nunjucks tags)

[2021-01-05 16:39] damithc commented on #1442
Darn. Didn't realize because I'm using Windows. The `lower` shouldn't be there in the first place. Thanks for the catch.

Will let you know when I encounter it again.  Can even close this issue for now. I'll reopen if I encounter it again.

[2021-01-05 16:55] ang-zeyu commented on #1442
👍

closing

[2021-01-05 16:55] #1442 closed

[2021-01-09 15:55] dcshzj commented on #1432
We can study how Codecov detects the CI in their bash script: https://github.com/codecov/codecov-bash/blob/master/codecov#L499-L951. The link to the environment variables also come in handy as a comment for each of them.

[2021-01-12 10:10] #812 closed

[2021-01-12 11:27] raysonkoh commented on #1322
Hi @ang-zeyu , I am not sure about the use-case in your example for the key `"a"` which has a json object as a value. This means that something like would be valid?

[code]

[2021-01-12 12:34] ang-zeyu commented on #1322
sorry @raysonkoh, I forgot to update this issue after https://github.com/MarkBind/markbind/issues/1353 (2nd item)

this issue should be adjusted to support just the latter few checkboxes (excel, csvs, ...) in `{% ext %}` tags (nunjucks' `{% set %}` already allows inline json)

but to answer your question, that would be valid too. (nunjucks allows assigning any object to a variable)

[2021-01-12 13:06] raysonkoh commented on #1322
I see, okay I shall work on the other file types. Thanks for the clarification @ang-zeyu !

[2021-01-14 06:31] damithc opened #1444 "TopNav: Drop-downs are not shown when using themes"
Without a theme:
![image](https://user-images.githubusercontent.com/1673303/104553113-07fb3c80-5675-11eb-9c5a-005081a30f91.png)

With a theme:
![image](https://user-images.githubusercontent.com/1673303/104553131-121d3b00-5675-11eb-909c-38716ad82359.png)

[2021-01-15 04:47] ang-zeyu commented on #380
Done with the new layout system #1403

[2021-01-15 04:47] #380 closed

[2021-01-15 04:47] ang-zeyu commented on #251
Done with the new layout system #1403

[2021-01-15 04:47] #251 closed

[2021-01-15 04:47] #302 closed

[2021-01-15 10:17] raysonkoh commented on #1444
I think there was some changes made to bootswatch at this specific [commit](https://github.com/thomaspark/bootswatch/commit/72d5823512113516cc9f6d88d4bb0ed7d8bbfb7f), the relevant changes which I think caused this issue is shown below.

![image](https://user-images.githubusercontent.com/16506539/104711443-59322b80-575c-11eb-9776-f27a4187f5d1.png),

Upon inspection using the dev tools, I noticed th

[2021-01-15 11:05] ang-zeyu commented on #1444
thanks for investigating it! @raysonkoh

since it looks simple and generic, let's fix it 🙂

fyi: there are a few theme-specific issues (especially with the searchbar) we have decided not to fix previously, as its too much work working on and tracking 15 separate bootswatch themes.
The solution in the long run would be to move to our own style system #903, shifting the burden of customization to th

[2021-01-15 15:28] ryoarmanda commented on #670
Investigating this a bit further, the example above was actually specified as a Markdown code in the fragment file, which in turn prompts highlight-js to parse the lines 2-4 as a Markdown quote, hence the `.hljs-quote` class is applied.

https://github.com/MarkBind/markbind/blob/d85aedc83da2cf166d47efa0f375999caf2470c1/docs/userGuide/syntax/blockquotes.mbdf#L35-L40

With this in mind, we can do tw

[2021-01-15 15:33] damithc commented on #670
Yes, I think it should be the first one

[2021-01-16 06:13] ang-zeyu commented on #481
or a component `<disqus>` may be better for extensibility; should be easier to implement as well

[2021-01-16 06:40] ang-zeyu commented on #1009
A more comprehensive list of requirements for anyone interested:
- [ ] readers should be able to navigate to newer version from older versions - hence a single source of truth for versions is needed for _all versions_. (e.g. a `versions.json` output metadata file at the output (`_site`) and source folder root)
- [ ] the data file structure / design used to store versioning information should be ex

[2021-01-16 06:44] ang-zeyu commented on #1251
this is difficult as it requires processing html (frontmatter) before nunjucks and markdown

[2021-01-16 06:51] damithc commented on #1251
I see. We can drop this in that case.

[2021-01-16 06:55] ang-zeyu commented on #1251
we should still pursue it though, it's a very nice to have

let's leave it open in case someone figures out a workable solution

[2021-01-16 07:19] #670 closed

[2021-01-16 08:12] ryoarmanda commented on #720
I'm not sure if this is a valid usage, but clashes with the "parent" page's frontmatter can also be possible if you happen to include a page with a frontmatter (in which case the `omit-frontmatter` functionality becomes crucial to ensure correctness). For example, including a page with `pageNav: 1` will override the parent's `pageNav` value.

[2021-01-16 09:02] ang-zeyu commented on #720
iirc this was intended behaviour, which allows authors to combine together frontmatter fragments using include.

maybe @acjh @marvinchin could confirm

[2021-01-16 09:40] damithc commented on #720
To elaborate further about this, this is what I currently do:

foo.md:
[code]

In another place where I just want to include the content of the file in the middle of another page:
`<include src="foo.md#main"/>`

The `<div id="main">` can be avoided if there is a way to extract just the content without the frontmatter.

[2021-01-18 05:04] #905 closed

[2021-01-18 08:51] ang-zeyu commented on #809
Closing this, mostly resolved with #1446

We can deal with the rest in miscellaneous PRs

[2021-01-18 08:51] #809 closed

[2021-01-19 00:55] raysonkoh commented on #1432
Regarding github actions, I noticed that there already exists [markbind-action](https://github.com/MarkBind/markbind-action). In this case, does `markbind deploy --ci` still need to account for github actions CI environment?

[2021-01-19 04:38] jonahtanjz commented on #212
Hi Prof @damithc and @ang-zeyu, I'm interested in working on this feature. According to #1332, seems like nested dropdown is still relevant and a nice to have feature. I was thinking of creating a separate component for the nested dropdown say something like `<submenu>`.

For exmaple:
[code]

Is this approach recommended for creating a sub-menu item inside a dropdown?

[2021-01-19 07:12] damithc commented on #212
No objections from me @jonahtanjz

[2021-01-19 14:39] ang-zeyu commented on #212
sounds good @jonahtanjz

wonder if we could / should do

[code]

as well. less syntax to remember 🙂

[2021-01-20 00:37] #720 closed

[2021-01-20 01:22] ang-zeyu commented on #1432
@raysonkoh still very much welcome

the action uses the latest release of MarkBind - we may have users / projects on older versions, and we can't use this for our own ci scripts

its also a rather low level approach (https://github.com/MarkBind/markbind-action/blob/master/entrypoint.sh), the purpose of `--ci` / `--travis` if I'm not mistaken was to simplify this if the user wants a custom ci setup

[2021-01-20 02:35] ang-zeyu opened #1454 "Non-minimal panels: Transition the caret icon rotation"
**Is your request related to a problem?**

https://markbind-master.netlify.app/userguide/usingcomponents#panels

**Describe the solution you'd like**

We can improve the ux slightly by transitioning the rotation of the caret icon for non-`type="minimal"` (unapplicable) panels

**Describe alternatives you've considered**

na

**Additional context**

na

[2021-01-20 14:29] #1444 closed

[2021-01-24 04:06] #481 closed

[2021-01-24 09:32] ang-zeyu opened #1457 "Svg-ify the logo and favicon"
**Is your request related to a problem?**

https://markbind-master.netlify.app/

![Untitled](https://user-images.githubusercontent.com/3306138/105626349-fd595800-5e69-11eb-8da7-4a5fa3c28077.png)

The logo may seem a little blurry on bigger screens / zoom sizes. (not so much for the favicon)

**Describe the solution you'd like**

We can svgify both, or just the logo

**Describe alternatives you've

[2021-01-25 03:44] rolandyuwy opened #1459 "Inquiry on PlantUML diagrams rendering with surge/netlify previews"
**Tell us about your environment**

* **MarkBind Version:** 2.17.3

**What did you do? Please include the actual source code causing the issue.**

- With reference to https://github.com/reposense/RepoSense/issues/1427, some PlantUML diagrams do not render for the **surge preview** of PR https://github.com/reposense/RepoSense/pull/1406, which replaces images in the Developer Guide with PlantUML dia

[2021-01-27 02:50] dcshzj opened #1461 "The markbind-action workflow should not always force push"
**Is your request related to a problem?**

Currently, the [markbind-action](https://github.com/MarkBind/markbind-action) workflow force-pushes to the gh-pages branch every time it is executed.

It would be ideal to allow the user to determine if they wish to force push to the gh-pages branch or to retain the history of the gh-pages branch. It may be useful in some cases where the user wishes to se

[2021-01-27 05:22] #212 closed

[2021-01-28 23:31] raysonkoh commented on #1461
@dcshzj Thanks for the issue submission!

A related issue might be #1432 , where the goal is to have a `markbind deploy --ci` command that deploys to various CI environments (including Github Actions). Using this approach, the commit history in the gh-pages branch will be retained. This is currently being worked on in PR #1460.

Once the basic functions of `markbind deploy --ci` is ready I think i

[2021-01-29 05:31] ang-zeyu commented on #1461
Hmm we could also extend `markbind-action` with #1009 in the future to support some sort of "auto-archive on release" workflow, until then, it would really only do what `markbind deploy --ci` does.

Once this is done we could also adapt the implementation there to use the same `markbind deploy --ci` approach as well

ps: the markbind-action PR hasn't been merged in yet https://github.com/MarkBind/

[2021-01-29 12:33] wxwxwxwx9 commented on #1078
Let me take a look at this :-)

[2021-01-29 13:44] ang-zeyu commented on #1459
It would work as long you can install / have java and graphviz in the ci platform.

Looks like netlify comes with graphviz by default, but I may have misread this: https://www.netlify.com/blog/2018/08/23/how-to-easily-visualize-a-projects-dependency-graph-with-dependency-cruiser/

From the comments in the original puml PR https://github.com/MarkBind/markbind/pull/887 there dosen't seem to be any i

[2021-02-01 09:24] #1454 closed

[2021-02-06 17:00] #591 closed

[2021-02-07 04:33] raysonkoh opened #1466 "Explore different services for previewing PR"
**Is your request related to a problem?**
If a PR has updated the docs, such as the userGuide, there is currently no convenient for a PR reviewer to review the changes made unless he/she pulls the PR and reviews the changes locally.

**Describe the solution you'd like**
Some initial work done to evaluate different PR preview services based on cost and ease of setup.

Can reference how Reposense us

[2021-02-07 05:46] ang-zeyu commented on #1466
@raysonkoh thanks, @yamgent got us on the open source plan a while back ( https://github.com/MarkBind/markbind/pull/956 ) 😄

[2021-02-07 05:48] ang-zeyu commented on #1466
there's 1000 build minutes per month; it should be more than enough as well since we're only using it for the pr previews (deploys are done with travis - pending switch to gh actions)

[2021-02-07 06:19] ang-zeyu commented on #1466
I may have jumped the gun a little here though - do let me know if there's anything you're suggesting here that netlify dosen't support currently.

On the same lines there's #1212 which we can explore for visual UI review / testing (though not too sure about the pricing, etc. there)

[2021-02-07 08:07] damithc commented on #1466
It would be good to provide instructions for _other ways of doing PR previews_, for other potential users of MarkBind? Netlify may not be an option for them due to various reasons. RepoSense is an example. They ran out of free minutes too fast and had to look for an alternative.

[2021-02-07 10:11] ryoarmanda commented on #1273
@damithc The way the minimal panels are designed is that it is dimmed by default (opacity 0.5), but when we hover on it, it transitions into "full" (opacity 1.0) color. If we change the default heading styling to not be dimmed, we could just remove the opacity 0.5 styling, which makes the transition essentially redundant and can be removed for conciseness. However, I am not sure whether we should

[2021-02-07 12:17] damithc commented on #1273
@ryoarmanda We can try removing the dim-to-full transition entirely (even if when `%%` is in use) and see if that affects the user experience?

[2021-02-07 14:12] ryoarmanda commented on #1273
Okay, I will adopt this approach first, and see how the experience would be affected :+1:

[2021-02-08 09:40] wxwxwxwx9 opened #1470 "Moving intralink validation checks to a log file"
**Is your request related to a problem?**

(Write your answer here.)
This idea came about after a discussion with @damithc. We brought up that user experience can potentially be impacted when there are many invalid link checks when generating the site, thus flooding the console and user may miss out on error messages.

**Describe the solution you'd like**

I was thinking if outputting the invalid

[2021-02-08 10:24] damithc commented on #1470
Good idea to explore this direction. What is the plan for the live preview mode?

A contributing factor to this problem is false positives. If the warnings are all _real_ ones (i.e., no false positives) the user should either fix the broken links or he can switch off the link checking. You might want to try the CS2103 website and see if the warnings you see are all real ones that need to be fixed.

[2021-02-09 09:52] ang-zeyu commented on #980
Reopening this for the top nav.

Should we switch that though? @damithc @jonahtanjz

The case against it would be a bulky navbar which takes up a huge portion of the screen on smaller devices (e.g. iphone SE), leaving lesser space for content

[2021-02-09 13:28] jonahtanjz commented on #980
Yup agree that for smaller devices the navbars will cover a big portion of the content.

How about a lower navbar that hides/shows when a user scrolls down/up respectively? This way, we can keep the current design of the navbar and also not block the content when the user is reading (scrolling down), as well as allow the lower navbar to be easily accessed by scrolling up.

[2021-02-09 13:55] jonahtanjz opened #1472 "Last dropdown header not processed"
**Tell us about your environment**

* **MarkBind Version:** 2.17.0

**What did you do? Please include the actual source code causing the issue.**
Created three dropdowns wrapped in a `div`.

[code]

I noticed that this issue only occurs when the dropdowns are in a wrapper like `div` or `box`. This issue can be seen on the user guide https://markbind-master.netlify.app/userguide/usingcomponents#dro

[2021-02-09 14:14] ang-zeyu commented on #980
Sounds good!

The entire `<header fixed>`, right?

Might this cause issues with the resize observer introduced earlier as well?

[2021-02-09 14:35] ang-zeyu commented on #1472
Thanks for the catch! @jonahtanjz

Could this be related to #1467? @wxwxwxwx9
The version in markbind.org seems fine

[2021-02-09 15:54] wxwxwxwx9 commented on #1472
@jonahtanjz thanks for highlighting this :-)

I did some investigation. It doesn't seem like a recent problem. In fact, the change in #1467 unexpectedly alleviated this issue. Like @jonahtanjz mentioned, this issue happens when multiple `<dropdown>` are wrapped in a div or box. From my investigation, it seems like this issue happens when we have more than 2 `<dropdown>` nodes (e.g. if we have 3 no

[2021-02-10 03:23] jonahtanjz commented on #980
Yup should be able to apply this to the whole `<header fixed>` instead of just the lower navbar

Should be fine as the observer will look for change in the header size. What we can do is set the header height to 0 to hide so that the change can be picked up by the observer.

[2021-02-10 11:34] ang-zeyu opened #1475 "Support a simple font coloring markdown syntax?"
**Is your request related to a problem?**

Inspiration from the `lineSpec` parameter matlab's plot function https://www.mathworks.com/help/matlab/ref/plot.html

I personally found being able to edit various plot properties with a single character really convenient.

**Describe the solution you'd like**

We could support something along the lines of:

[code]

Should save a lot of typing `<span styl

[2021-02-10 16:20] damithc commented on #1475
Seems useful. I don't have any objections myself.

[2021-02-10 16:44] ang-zeyu commented on #1472
as discussed, let's remove the the dropdown header fouc hotfix completely if a proper solution for is too complex:
- fouc hotfix works just fine without the header (if not better, as the header can contain unrendered markdown)
- we should move toward fixing the root cause of fouc #1406

[2021-02-10 16:52] #28 closed

[2021-02-11 08:07] #1273 closed

[2021-02-14 20:53] raysonkoh commented on #1466
Some updates on this issue:

After referencing Reposense's configs for doing PR previews with Surge.sh, I am able to come up with a Github-Actions workflow that works for a PR that is sent from **a branch of the same repo**.

I see from the discussions in reposense/Reposense#1105 that there were some concerns when a PR is sent from **a branch of a forked repo**, as Github Actions may not expose th

[2021-02-15 01:56] damithc commented on #1466
Good progress @raysonkoh

GitHub pages can do that as well. So, I think we can let the platform handle that part i.e., if the user want to deploy to a custom domain, they can refer to the documentation provided by the platform

[2021-02-23 05:36] wxwxwxwx9 commented on #1078
As discussed in #1483, using `#example` breaks the CommonMark spec. Thus, if we want to implement a shorthand slot syntax for users, we have to look for an alternative syntax.

However, there are not many other shorthand syntax prefix options available. The only ones that I found to be usable are:
- `_example`
- `:example`

I tested the possible syntax using [CommonMark's demo.](https://spec.commo

[2021-02-23 05:42] ang-zeyu opened #1485 "Navbar link highlight styling"
**Is your request related to a problem?**

Follow up to discussion in https://github.com/MarkBind/markbind/pull/1379

![Untitled](https://user-images.githubusercontent.com/3306138/108806315-54268e80-75dc-11eb-88c3-b353ecbee33d.png)

The background highlight works well for some backgrounds but not others

**Describe the solution you'd like**

- We could shift this to a subtler, more compatible styl

[2021-02-23 06:19] damithc opened #1486 "Special characters not rendered correctly in search results"
This is from the current UG
![image](https://user-images.githubusercontent.com/1673303/108808694-1cbae080-75e2-11eb-9ab4-52b92fa2fcdb.png)

[2021-02-23 06:23] damithc commented on #1078
No strong views. We already have `var-foo` syntax for specifying variable values for `<include>` https://markbind.org/userGuide/reusingContents.html#specifying-variables-in-an-include.  So, the `s-example` has some level of consistency although `slot-example` is more consistent with the `var-foo` syntax.

[2021-02-23 06:37] damithc commented on #1485
How about add some sort of an underline as well? I've seen some sites use underlines to mark the item being shown. Not necessarily underline the text though -- instead, we can show the bottom border of the highlighted box.

[2021-02-23 06:43] wxwxwxwx9 commented on #1486
![Screen Shot 2021-02-23 at 2 39 31 PM](https://user-images.githubusercontent.com/37920115/108809959-f34f8400-75e4-11eb-9c71-86751b403189.png)

Just investigated this quickly and it seems like it can be fixed by rendering it as html by using `v-html`.

![Screen Shot 2021-02-23 at 2 41 24 PM](https://user-images.githubusercontent.com/37920115/108810055-36a9f280-75e5-11eb-9a9e-3c0044ee6d94.png)

But

[2021-02-23 07:12] wxwxwxwx9 commented on #1078
@damithc thanks for your input! If we were to use `slot-example`, I think there would not be much benefits in terms of "shorter syntax". But it does provide the benefit of a more consistent syntax than `slot="example"` I suppose.

I also don't have strong opinion on this, as to which syntax we should adopt. It seems like a highly subjective issue. If there isn't much benefit for the user, then I t

[2021-02-23 08:04] ang-zeyu commented on #1078
`slot-example` sounds good. `s- / _ / :` are shorter but may not be as easy to remember.

but as you mentioned it dosen't provide too much benefit, just a bit over `slot="..."`. There's also some cost in having to support both syntaxes for a while (+ migration effort).

I guess it would be really low priority since the meat of the issue (deprecated vue syntax) has been dealt with.
Maybe we could r

[2021-02-23 08:07] fsancho commented on #28
Can $$ be in conflict with LATEX notation for math?

[2021-02-23 08:30] ang-zeyu commented on #28
thanks for highlighting this @fsancho

I believe it may conflict with external scripts, but we're providing our own using bracket notations `\[...\] \(...\)` with [this package](https://github.com/goessner/markdown-it-texmath), which should reduce the need for that.

[2021-02-23 08:39] fsancho commented on #28
Thanks for replying so fast!
It's true that we can use \[...\] \(...\) with TeX packages (and indeed, they are more desirable than $$..$$), but there is not direct way to transform a "classic" doc using $$..$$ and $..$ into a new one with these delimiters, and maybe this fact may impair the use of MarkBind for already formatted content.

[2021-02-23 09:16] ang-zeyu commented on #28
Fair point, hmm...

I suggested `$$...$$` originally as we've really almost run out of good delimiters for our [text styles](https://markbind.org/userGuide/formattingContents.html#text-styles) unfortunately =\

The alternatives I could think of were `# & ! @` which don't seem to connote the same 'squiggly' underline feel.

One potential fix is to expose these delimiters to user configuration for s

[2021-02-23 09:41] damithc commented on #28
I'm OK with that notation too.

[2021-02-24 09:54] ang-zeyu commented on #1466
For reference, the usage as of 24th feb for this month

![Untitled](https://user-images.githubusercontent.com/3306138/108982506-d8564000-76c8-11eb-90bc-7736234b7c9a.png)

We're really no where near exceeding the limit. Reposense has a relatively long ~10min ci deploy run due to its tool chain (ours just takes about ~1min 30s)

[2021-02-24 11:57] wxwxwxwx9 commented on #1486
@ang-zeyu is the proposed solution alright? If so, do you think we should make a PR to the hotfix branch? :O

[2021-02-24 12:00] wxwxwxwx9 commented on #28
@ang-zeyu How should we approach this? Should we make the PR for the `!!...!!` underline syntax change or leave it for now?

[2021-02-24 13:38] ang-zeyu commented on #1486
how about unescaping what's indexed? (`"include-inside-an-included-file": "&lt;include&gt; Inside an Included File",`)
No need for a `eslint-disable` that way.

no need, this isn't game-breaking

[2021-02-24 14:11] ang-zeyu commented on #28
ok, let's go with `!!...!!` then, if there's no objections.

Thanks for taking a look at this again @wxwxwxwx9

Since `$$..$$` is already out there in 2.8, let's do 2 prs, one
- against the hotfix branch, to add a new rule for `!!...!!`, and deprecate `$$...$$` (also warnings) similarly to `++...++`
- against the main unreleased branch, a straightforward change of `$$...$$` to `!!...!!`

[2021-02-24 14:25] fsancho commented on #28
Thanks a lot for taking into consideration my comment/needs! I really apreciate your wonderful work with MarkBind!

[2021-02-24 17:12] ang-zeyu commented on #28
No problem. Thanks for the input as well! 😃

[2021-02-25 02:40] raysonkoh opened #1490 "Auto link extension conversion not working when linking to specific section in .md file"
**Tell us about your environment**
MacOS 11.1, Firefox v85.0.2

**MarkBind Version:**
v2.17.0

**What did you do? Please include the actual source code causing the issue.**
In `tipsAndTricks.md`, I tried to link to `deployingTheSite#using-ci-platforms` as such:

`[default CI configuration for deployment](deployingTheSite.md#using-ci-platforms)`

**What did you expect to happen?**
Link should be au

[2021-02-25 02:56] wxwxwxwx9 commented on #1490
Thanks for bringing this up @raysonkoh! This issue is currently in the pipeline to be rectified :-)

[2021-02-25 02:57] wxwxwxwx9 commented on #1486
Hmm just to clarify, do you mean we'll keep a dictionary of what characters are escaped in html and then we will unescape it accordingly?

[2021-02-25 07:15] damithc opened #1491 "Support a better format for tabs"
Tabs are supposed to contain alternative contents. Readers can click on each tab to see its content.
However, when a page is printed (or converted to PDF), the reader can see only the content of the active tab.

Suggestion: Show all tabs when printing.

[2021-02-25 12:28] ang-zeyu commented on #1486
sorry, meant ^.

[2021-02-26 09:34] damithc opened #1492 "Support slots for box components"
This should work, right?
[code]

Output I get
![image](https://user-images.githubusercontent.com/1673303/109282853-0d919800-7859-11eb-8ccb-9d19a282b957.png)

[2021-02-26 11:02] wxwxwxwx9 commented on #1492
Took a quick look at this. The issue stems from the mismatch in the slot name. If we were to use `slot="_header"`, it would work. The slot name we are using in the Vue component like box and tabs are using `_header` as the slot name.

I think the issue can be solved by transforming the `header` slot into `_header` in the node processing stage. However, I think there may be a reason why we are usin

[2021-02-26 11:36] wxwxwxwx9 commented on #1486
Hmm can I check what ideas you have in mind to not escape the indexed characters? Other than `v-html`, I'm not sure what other alternatives there are to not escape what's indexed. It seems like `v-html` is the mainstream way to do it.

[2021-02-26 13:16] ang-zeyu commented on #1492
I think this was being done at one point (or it might have been mislabelled as supported but actually not), I can't really recall =(
It should be fixed eitherway.

`_xx` was intended as originally intended as internal naming for slots resulting from attributes.

On a separate note, I think we could move toward just `xx`, I haven't observed much benefit from the duplicate `_xx` slot - if anything i

[2021-02-26 13:36] ang-zeyu commented on #1486
sorry, disregard the earlier again.

I was under the impression cheerio / jquery has a convenient function for outputting unescaped text (so we don't index the `<` as `&lt;`'s here `&lt;include&gt; Inside an Included File`), seems like that isn't the case on closer look. Let's go with `v-html` then

[2021-02-27 17:07] #1381 closed

[2021-02-28 05:43] ang-zeyu opened #1495 "Some more refactoring ideas"
**Is your request related to a problem?**

- [ ] Combine page nav and search heading indexing into one inside `NodeProcessor`, possibly managed in-memory by some `Indexer` abstraction of sorts (d.moderate)
   - both contains very similar duplicate logic (e.g. don't index unexpanded panel's content, but index its header)
   - the latter is performance hungry, requiring re-reading and parsing html f

[2021-02-28 07:11] damithc opened #1496 "Best-in-class support for code blocks"
With the addition of partial code highlighting feature, most likely MarkBind is the static website generator that has the _best support for fenced code blocks_. We can compare with other similar tools to see if are inferior in any way, and can improve those too.

What do you think of the possibility of more advanced features such as tooltips (inside code blocks)? not feasible at all?

[2021-02-28 10:44] raysonkoh commented on #1496
I think we can explore having a _copy_ button, to allow users to copy the entire code block to their clipboard for convenience. Docusaurus has this feature:

![image](https://user-images.githubusercontent.com/16506539/109415044-511f0a00-79f1-11eb-91bb-596cc9645459.png)

We can also explore the possibility of having something similar to Vuepress's `code-group` feature: https://vuepress.vuejs.org/th

[2021-02-28 13:40] jonahtanjz commented on #1496
I believe we can also explore having the ability or an easy way for the users to import code from an external file. Since MarkBind already has the `<include>` feature, we can extend this to code blocks as well. Maybe something along the lines of
[code]
We can also have auto syntax highlighting based on the extension of the external file. I have not really seen this feature anywhere else on other s

[2021-03-04 06:13] wxwxwxwx9 opened #1499 "Tab selection "jumpy" render"
**Tell us about your environment**
MacOS 10.15.4, Google Chrome Version 88.0.4324.182 (Official Build) (x86_64)

* **MarkBind Version:**
v2.17.0

**What did you do? Please include the actual source code causing the issue.**

[code]

Suppose we have the above source code, when we actually select among the tabs consecutively, you would observe some "jumpy" rendering that happens intermittently. Not

[2021-03-04 08:51] wxwxwxwx9 opened #1500 "markdown-it-attrs not parsing properly in user guide"
![Screen Shot 2021-03-04 at 4 38 15 PM](https://user-images.githubusercontent.com/37920115/109935064-2510cb00-7d08-11eb-93b7-cdaaeaddce15.png)

As shown in the image above, `markdown-it-attr` is not parsing the `{.alert-info}` properly and it appears as text in the output. It should have been applied as a class on the topmost list.

The specific example we are looking at is actually adapted from t

[2021-03-04 16:24] wxwxwxwx9 opened #1503 "Dropdown header color suspected to be incorrect"
<img width="421" alt="Screen Shot 2021-03-05 at 12 18 25 AM" src="https://user-images.githubusercontent.com/37920115/109994477-50b3a580-7d48-11eb-9917-ebb76aa1d7da.png">

EDIT: Ignore the last empty dropdown, it is a known bug, raised up in #1472.

In the image above, we can see that the "Action" header font color is black.

![Screen Shot 2021-03-05 at 12 20 42 AM](https://user-images.githubuserco

[2021-03-04 16:31] wxwxwxwx9 opened #1504 "Fully deprecate some component attributes"
While working on some issues related to dropdown, I realised that we are still processing the `text` attribute for dropdown. However, the `text` attribute is currently stated to be deprecated in the user guide. For code maintenance purposes, should we fully remove any processing code related to `text` attribute?

[2021-03-04 16:33] jonahtanjz commented on #1503
It seems this was changed in #1451 to fix an issue related to dropdowns not showing up when using themes #1444. Somehow this has an undesired effect on all dropdowns. I believe this can be rectify by only applying this css rule to only dropdowns in navbar instead.

[2021-03-04 16:46] wxwxwxwx9 commented on #1503
@jonahtanjz thanks so much for providing the context! I think that solution sounds good.

@raysonkoh what do you think about the solution suggested? Would be great to have your input as well :-)

[2021-03-05 03:28] jonahtanjz commented on #1499
Took a quick look at this since I was working on a PR related to tabs. It seems this is caused by the [`<transition>` wrapper](https://github.com/MarkBind/markbind/blob/master/packages/vue-components/src/Tab.vue#L2) in `Tab.vue`. I'm not sure if the tabs were supposed to have transition effect but I don't think it is working at the moment. I tried removing it and it seems to resolve the "jumpy" re

[2021-03-05 14:48] damithc opened #1505 "Support Google Fonts Icons"
Should we support these? https://fonts.google.com/icons
Also, is it feasible?

[2021-03-05 16:46] wxwxwxwx9 commented on #1505
I think it's possible. Maybe we can explore implementing it as a plugin?

[2021-03-05 17:00] damithc commented on #1505
Support for other icon types are built-in. We can implement this as a plugin only if there is a good reason to differ from others. e.g., if adding this impose a significant performance cost, we can provide it as an optional feature (i.e., plugin)

[2021-03-06 03:06] #1486 closed

[2021-03-06 03:32] ang-zeyu commented on #1496
👀

Hmm this sounds similar to tabs. Might be missing something there though.

This can be done using nunjucks'
[code]

auto syntax highlighting sounds good, it might be in the form of just `<include src="...js" />` without the backticks then. But I think we'd need a few more suggestions surrounding this form of including external code files to make it worthwhile.

[2021-03-06 03:42] ang-zeyu commented on #1500
This is spec compliant to some level actually.

It worked before because we did nunjucks -> html (just to process `<include/>`) -> markdown -> html (misc).
So the things inside `<include />` are exceptionally (wouldn't work with any other tag) rendered into the included file before being touched by markdown.

Now it's nunjucks -> markdown -> html recursively which means all tags get the same treat

[2021-03-06 03:47] ang-zeyu commented on #1504
@damithc should we deprecate these attributes for v3 as well?

If its too much changes could postpone https://github.com/MarkBind/markbind/pull/975

[2021-03-06 04:19] damithc commented on #1504
Sure. Does that mean there will be a warning message or those will be ignored altogether?

[2021-03-06 04:23] ang-zeyu commented on #1504
Ignored altogether

[2021-03-06 05:01] damithc commented on #1504
The current version gives a warning already, correct? In that case should be fine as I've dealt with those warnings already.

[2021-03-06 10:15] #1491 closed

[2021-03-06 10:16] ang-zeyu commented on #1504
yup

[2021-03-08 04:32] damithc opened #1507 "Live preview shows stale version of a page occasionally"
In recent times, I have notices the the live preview for smaller websites occasionally shows the stale version of the page (although the page refreshes i.e., shows the 'building' spinner and loads again). The new content appears only after a manual refresh.

But this can catch the user unawares. Not sure if there is a solution though. Anyway, the first step is to be able to reproduce it reliably.

[2021-03-08 12:11] #1490 closed

[2021-03-10 12:57] #1499 closed

[2021-03-12 14:05] #1503 closed

[2021-03-16 15:20] raysonkoh commented on #1495
Just to clarify for the second point regarding splitting up `NodeProcessor` into separate files, I am thinking of separating the methods that are specific to the various components such as `_processQOption`, `_processQuiz`, `_processTooltip` to a separate file (maybe `componentProcessor`?). @ang-zeyu Is this what you meant? 😅

[2021-03-17 14:44] ang-zeyu commented on #1495
@raysonkoh sorry for the overly brief description. I was thinking it might be more cohesive to group things by functionality here, so you know right away what a file contains only. (quicker to grasp instead of going through each component file and figuring what goes on for each component)

E.g. iirc, some main functions left are:
- rendering markdown-in-attributes into slots
- combining / shifting

[2021-03-18 02:54] raysonkoh commented on #1466
Some updates while I was exploring using Heroku for PR previews / deployment:
In terms of deploying a Markbind site via Heroku, it may not be very feasible. On a free heroku account, there are a limited number of minutes per month which the website can be actively serving users (at most 1000 hours). Also the website will go to sleep if it has been inactive for more than 30minutes.

For PR previews

[2021-03-18 03:11] damithc commented on #1466
Thanks for investigating the Heroku option @raysonkoh
We can put that on hold for the time being.

[2021-03-19 01:59] damithc opened #1516 "Support showing .md links"
We need a way to give a .md link in a MarkBind site
As of now, all .md links are auto-converted to .htm

[2021-03-19 05:01] wxwxwxwx9 commented on #1516
Hi Prof! We currently can insert an attribute to prevent the auto-conversion of `.md` links.

However, the one shown on user guide currently is the erroneous one, pending to be fixed by #1494.

Can you try the following syntax? This should work.

`Click [here](index.md){no-convert}`

[2021-03-19 05:08] damithc commented on #1516
Ah, nice. Forgot we had something like that already. Will try it soon. Thanks for the follow up @wxwxwxwx9

[2021-03-19 08:39] raysonkoh opened #1517 "Display problems with codeAndOutput.md"
`codeAndOutput.md` is a boilerplate file which is referenced several times in the userGuide. However, there seems to be some errors in the "displayed code" in the current Markbind-master when referenced against the Markbind.org userguide.

Examples:

## In markbind-master (actual)
<details>
<summary>Footer section</summary>

![image](https://user-images.githubusercontent.com/16506539/111752024-229

[2021-03-19 08:56] damithc commented on #1516
BTW, the error in the UG is likely caused by the fact that we use a dot in other cases. So, should we make it `{.no-convert}` (for consistency) or keep `{no-convert}`?
Related questions: Is there an internal reason for using two styles? If there is, does it still make sense to end-users? If no, should we 'force' a consistent style for the sake of making things easier for users.

[2021-03-19 11:27] wxwxwxwx9 commented on #1516
Hmm I think we can make it into `{.no-convert}` (with the dot) for consistency across MarkBind. I don't think there is a strong internal reason (if any) to use two styles. @ang-zeyu what do you think? Am I missing out on anything?

[2021-03-19 13:03] ang-zeyu commented on #1516
hmm let's go with the attribute. that way it makes more sense when using it on `<a href="..." no-convert />`. (`<a href="..." class="no-convert" />` is a little awkward)

I'll fix the error in the published UG shortly. (only the attribute should work currently)

[2021-03-19 13:04] #1516 closed

[2021-03-22 03:51] raysonkoh opened #1518 "Fix deprecation warnings for highlight.js v10.7"
While serving a markbind site using `markbind serve`, I noticed in the outputs there are quite a lot of warnings relating to deprecation warning specifically for the `highlight(lang, code, ...args)` method of highlight.js. Ref:  highlightjs/highlight.js#2277

![image](https://user-images.githubusercontent.com/16506539/111938222-75f43200-8b04-11eb-8e64-08957165c075.png)

This might be quite annoyin

[2021-03-24 05:39] ang-zeyu commented on #1517
Thanks for the catch. Related to #1500 (another occurence)

[2021-03-24 05:48] ang-zeyu commented on #1500
An simple alternative to this is to also treat `<include>` tags as "special" tags (`<script/pre/style>` according to commonmark) just for the _markdown_ side.

It's also "spec compliant", and would remove the need to pad `<variable>` tags before with an empty line.

[2021-03-25 06:35] ang-zeyu opened #1519 "Modal content disppearing after reopening"
**Tell us about your environment**

* **MarkBind Version:** since https://github.com/MarkBind/markbind/commit/c417d681f3744ad92db6fb21faa0a731d1523eb3

**What did you do? Please include the actual source code causing the issue.**

![slot-disappearing](https://user-images.githubusercontent.com/3306138/112428353-fe2d3e00-8d75-11eb-8d6e-78b3bba73498.gif)

**What did you expect to happen?**

The slot

[2021-03-25 06:40] ang-zeyu commented on #1519
@wxwxwxwx9 I missed this out while reviewing. Any idea what's causing this? 🤔

[2021-03-25 06:56] wxwxwxwx9 commented on #1519
@ang-zeyu my bad! I missed out on this as well. This is rather weird. Let me look into this!

[2021-03-28 18:46] ryoarmanda commented on #1496
A minor idea that I have is to make highlighting more expressive with diff-style coloring (e.g. green for addition, red for deletion, the color that we have right now for "neutral" highlight to indicate something to take note of). Users can define themselves which parts are to be colored which.

I think this is helpful in the scope of educational websites, particularly step-by-step code tutorials

[2021-03-29 02:06] damithc commented on #1496
Yes, might be worth exploring 👍

[2021-03-29 03:37] jonahtanjz opened #1523 "Syntax highlighting not working when it is contained"
**Tell us about your environment**

* **MarkBind Version:** 2.17.0

**What did you do? Please include the actual source code causing the issue.**

The syntax highlighting is not working when it is contained within a `box` or `div`. This issue can be seen in the user guide under [intrasiteLinkValidation](https://markbind-master.netlify.app/userguide/sitejsonfile#intrasitelinkvalidation) in the `sit

[2021-03-29 03:53] raysonkoh commented on #1523
@jonahtanjz Could you try adding an empty line between `<box>` and the start of the code block to see whether it produces the correct output?

[2021-03-29 04:50] jonahtanjz commented on #1523
@raysonkoh Thanks for investigating this. Yup that solves the issue. Do you happen to know why the empty line is needed? If the empty line is necessary then maybe we should document this down somewhere?

[2021-03-29 05:10] damithc commented on #1523
I think it's how the markdown parser identifies the start of markdown text (I think it treats `<box>` as html).

[2021-03-29 05:14] raysonkoh commented on #1523
Good to hear that it is working!

I think what you are referring to was addressed in this section of the UG: https://markbind-master.netlify.app/userguide/usinghtmljavascriptcss

![image](https://user-images.githubusercontent.com/16506539/112789408-9a658680-908f-11eb-9dc7-3817d8a797af.png)

Good idea, we could include a reference to the above content in the "Formatting contents" and "Using compone

[2021-03-29 05:40] damithc commented on #1523
Given it is unlikely the reader will read the entire UG, and most likely just go straight to the documentation of a specific feature, we can cross-reference this point everywhere the UG gives the syntax that can be affected. e.g., `<box>`
What do you think?

[2021-03-29 06:26] jonahtanjz commented on #1523
@damithc and @raysonkoh Yup sounds good. I will look through the UG and add the reference at the relevant places.

[2021-03-30 02:41] tlylt opened #1528 "Documentation Bug: link to emoji-cheat-sheet is broken"
**Tell us about your environment**
Windows
**MarkBind Version:**
MarkBind 2.18.1
**What did you do? Please include the actual source code causing the issue.**
Clicking on the link for list of supported emoji at https://markbind.org/userGuide/formattingContents.html#emoji opened a Github 404 page
![image](https://user-images.githubusercontent.com/41845017/112925202-102b2a00-9144-11eb-8635-b4d6a13b8

[2021-03-30 04:50] ryoarmanda commented on #1528
👀 Looks like we missed this. Thanks for the catch @tlylt ! We'll do the fix shortly :)

[2021-04-03 05:39] wxwxwxwx9 commented on #1519
After investigating, I discovered that the problem lies with our usage of $slots instead of $scopedSlots.

Using the example that you have provided in the post, it appears that any **named** slots passed into panel would disappear upon the second expansion of the modal. Here's a screenshot of the testing that I've done.

![Screen Shot 2021-04-03 at 1 23 34 PM](https://user-images.githubusercontent

[2021-04-03 17:15] ang-zeyu commented on #1519
Thanks for the thorough investigation! @wxwxwxwx9

Let's go with `$scopedSlots` then, per your testing.

Also related (let's make a note / open a new issue) - we'd have to change it back then, and hopefully it dosen't break =P.
https://v3.vuejs.org/guide/migration/slots-unification.html

[2021-04-04 03:41] wxwxwxwx9 opened #1536 "Change $scopedSlots back to $slots when Vue is upgraded to v3.0"
To fix the issue **"Modal content disappearing after reopening"** raised in #1519, we have changed all the `$slots` syntax to `$scopedSlots` (#1535).

However, as highlighted by @ang-zeyu [comment (#1519)](https://github.com/MarkBind/markbind/issues/1519#issuecomment-812896067), this change will have to be reverted when we upgrade Vue to v3.0 and above, since `$scopedSlots` will no longer be suppo

[2021-04-04 16:04] ryoarmanda opened #1537 "Async delay function does not return result"
Minor bug found during development. If one tries to `delay` (from `packages/core/src/utils/delay.js`) an async function that is expected to return value (e.g. `Promise<boolean>`), the delayed function does not return the value for further use.

As currently our applications of delay are on async functions that does not return anything (e.g. `Promise<void>`), nor do we do anything to the return res

[2021-04-05 07:54] #1519 closed

[2021-04-10 07:11] ptvrajsk opened #1542 "User Guide: Next button skips a few chapters"
**Tell us about your environment**
*Brave Browser*

* **MarkBind Version: NIL**

**What did you do? Please include the actual source code causing the issue.**

*Not sure if this is a bug but,*

![image](https://user-images.githubusercontent.com/39243082/114261388-de03ad00-9a0c-11eb-9f51-1a65781719cb.png)

*I noticed that the the next section button skips over the sections highlighted in green.*

*

[2021-04-10 07:16] wxwxwxwx9 commented on #1542
Hi @ptvrajsk, thanks for raising this up! It is indeed a documentation error as you mentioned. We will look to fix it accordingly :-)

[2021-04-10 09:35] #1537 closed

[2021-04-11 03:52] jonahtanjz opened #1543 "Enhance regeneration of pages during live preview"
**Is your request related to a problem?**

A follow up to discussions in #1514 and #1529.

When a page is added or removed, all pages are rebuilt if the added/removed file is a page/dependency of page. Similarly, a change in page's properties will cause dependent pages to be rebuilt although this wouldn't affect other pages.

For context:
https://github.com/MarkBind/markbind/pull/1514#pullrequestr

[2021-04-11 04:52] #1500 closed

[2021-04-11 04:52] #1517 closed

[2021-04-11 07:15] #48 closed

[2021-04-12 10:11] ang-zeyu opened #1544 "Setup testing for live preview features"
**Is your request related to a problem?**

With #1513, #1529, etc., there's quite a chunk of logic concerning live reload now.

**Describe the solution you'd like**

Would be good to explore and add in some e2e live-preview testing to prevent regressions.

[2021-04-13 06:20] #1518 closed

[2021-04-16 08:26] wxwxwxwx9 commented on #958
@ang-zeyu I've looked into this issue and here's what I discovered so far.

From my investigation, the problem stems from `markdown-it` parsing.

Using your example, refer to [here](https://markdown-it.github.io/#md3=%7B%22source%22%3A%22pre-text%5Cn%3Cpanel%3E%5CnNote%20that%20%60Layout%60%20instances%20do%20not%20generate%20any%20output%20files%20directly%2C%20but%20rather%2C%20they%20store%20in

[2021-04-16 10:22] ang-zeyu commented on #958
yup, we might also reference vuepress' solution for this. (though, be careful with `<panel>`s in particular as mentioned https://github.com/MarkBind/markbind/pull/1534#pullrequestreview-637316649)

[2021-04-21 11:38] #958 closed

[2021-04-21 19:53] ryoarmanda opened #1549 "Inline code renderer still uses deprecated HighlightJS API"
Using MarkBind `master` branch. After #1521, deprecated warning of HighlightJS `highlight` API still shows up when navigating `docs/userGuide/syntaxCheatsheet`:

![image](https://user-images.githubusercontent.com/24468110/115612651-14e79600-a31e-11eb-81b4-fd6acdf82ad6.png)

Quick search shows that while the main fenced code-block is already using the updated API, the inline code rendered is still

[2021-04-27 11:29] #889 closed

[2021-04-27 11:29] #1406 closed

[2021-04-27 11:29] #1472 closed

[2021-04-29 02:41] ang-zeyu commented on #1496
https://rust-lang.github.io/mdBook/format/mdbook.html

The `show hidden lines` function seems really useful as well, and should be very compatible with our line slice syntax.

[2021-04-29 03:19] damithc commented on #1496
In fact, the features mentioned in there seem to assume the code examples are coming from separate source files. We haven't paid much attention to that use case so far. Worth exploring.

[2021-04-29 08:48] #1492 closed

[2021-04-30 13:03] ang-zeyu opened #1558 "Add hamburger transitions for mobile site / page nav icons"
https://codepen.io/designcouch/pen/Atyop

Something like that.

[2021-04-30 13:14] ang-zeyu opened #1559 "Pic component: Adopt lazy loading"
The `<img>` tag inside could use the `lazy` attribute -- browser support seems good https://caniuse.com/?search=lazy

The height / width resolution _might_ then have to be moved accordingly.

[2021-04-30 14:08] ang-zeyu opened #1560 "Improve the fixed header approach to remove "header padding fouc""
**Is your request related to a problem?**

Browser refresh:
![fixed-header-approach](https://user-images.githubusercontent.com/3306138/116706492-46d4b880-aa00-11eb-8a30-04436061c440.gif)

**Describe the solution you'd like**

Experiment with a dynamic positioning approach, e.g. https://www.w3schools.com/howto/howto_js_sticky_header.asp.

**Describe alternatives you've considered**
- Add a "best es

[2021-05-02 19:59] ShiroRyokoshi commented on #1559
I will take care of this.

[2021-05-24 14:06] damithc opened #1566 "Site-nav: current page indication doesn't work if the link is *.md"
Current: The link currently loaded is highlighted in the site-nav
![image](https://user-images.githubusercontent.com/1673303/119359256-048b5800-bcdc-11eb-81de-eab1e8305348.png)

Problem: This highlighting works for *.html links but doesn't work if the link is given as a *.md file

[2021-05-24 14:10] damithc opened #1567 "site-nav: link highlighting doesn't work if the link is generated by a script"
Not sure if this is fixable but reporting here for the record.

Problem: if the links in the site-nav is generated by a nunjucks script (e.g., https://raw.githubusercontent.com/reposense/RepoSense/master/docs/_markbind/navigation/ugSiteNav.md), the current page loaded will not be highlighted as expected.

![image](https://user-images.githubusercontent.com/1673303/119360071-d6f2de80-bcdc-11eb-8105-

[2021-05-25 05:09] raysonkoh commented on #1549
Thanks for raising this, I will look into it!

[2021-05-26 05:06] jonahtanjz commented on #1566
It seems like this issue is affecting the current release version. I've tried out the current master branch and the highlighting works for *.md links. I believe this is because the site nav in master branch is now checking whether to add the `current` class after the links have been processed by Markbind (done in vue component of [site nav](https://github.com/MarkBind/markbind/blob/master/packages

[2021-05-26 05:09] jonahtanjz commented on #1567
Similar to https://github.com/MarkBind/markbind/issues/1566#issuecomment-848457493, the current master branch should resolve this issue as the checking of the current link is now done in the vue component (after all the links have been processed by Markbind).

[2021-05-26 05:13] damithc commented on #1566
Thanks for checking @jonahtanjz Should be fine if fixed already in the master branch. Closing.

[2021-05-26 05:13] #1566 closed

[2021-05-26 05:13] damithc commented on #1567
Thanks for checking @jonahtanjz Should be fine if fixed already in the master branch. Closing.

[2021-05-26 05:13] #1567 closed

[2021-05-30 10:58] #1542 closed

[2021-06-05 03:21] damithc opened #1571 "A search bar without enabling search results in a blank page."
If a search bar is used in a top navigation bar but built-in search is not enabled in the site.json, the whole page shows up blank. While this is caused by a user error, perhaps the behavior can be more user-friendly?

This screenshot shows how the page looks when the search is enabled (as expected):
![image](https://user-images.githubusercontent.com/1673303/120878546-cea97600-c5ef-11eb-83d5-9edd9

[2021-06-06 04:06] ang-zeyu opened #1575 "Deployment url logging not respecting CNAME"
Just found this while manually updating the release site:

![Untitled](https://user-images.githubusercontent.com/3306138/120912156-8194d500-c6bf-11eb-86c5-6fba5bd644f0.png)

The format also seems a little off (markbind.github.io repeated twice)

[2021-06-06 04:17] ang-zeyu opened #1576 "Site config reload not working for custom site configs"
Reproduction
- Simply use the `-s` option [here](https://markbind.org/userGuide/cliCommands.html) for `markbind serve`
- Site config reload dosen't work for it

[2021-06-06 08:37] jonahtanjz opened #1578 "Unable to use markbind commands"
* **MarkBind Version:** v3.0.1

**What did you do? Please include the actual source code causing the issue.**
After running `npm run setup`, `markbind` commands are not working. This seems to be affecting the development version (Released version seems fine).

![image](https://user-images.githubusercontent.com/47470981/120917869-22958700-c6e4-11eb-9882-33fdfd03a35c.png)

[2021-06-06 08:49] ryoarmanda commented on #1578
The trace tells that it's unable to get a module that is one of the dependency of the `live-server` patch. Strange it doesn't work on development as it was just fine when I developed it. Might be a case of dependencies not properly stated. I'll investigate this quickly.

[2021-06-06 09:17] ryoarmanda commented on #1578
I synced with `master`, run `npm run setup`, and tried to do `markbind init` and `markbind serve -o` and everything seems to be working fine on my end. Can anyone verify?

![image](https://user-images.githubusercontent.com/24468110/120918951-b453c300-c6e9-11eb-81af-39972ee0f710.png)

[2021-06-06 09:58] jonahtanjz commented on #1578
Thanks for checking this out @ryoarmanda . Hmm strange I tried this out on my other computer as a fresh install and ran into the same issue. Perhaps someone else can check this out?

[2021-06-06 10:26] ang-zeyu commented on #1578
My bad @ryoarmanda @jonahtanjz, hadn't expected you guys to be testing this quickly.

You'll need to bump your npm versions to v7 for development due to the lock file format changes. Could have a look [here](https://nitayneeman.com/posts/catching-up-with-package-lockfile-changes-in-npm-v7/) you're interested.

Note this dosen't affect the release version (v6 still fine for end users) as the lock f

[2021-06-13 07:58] damithc opened #1580 "Changes to layout files don't auto-refresh of the live preview"
v3.0.1

Seems changes to layout files e.g., `layouts/default.md` doesn't auto-refresh the live preview. The changes are reflected in the page upon a manual refresh though.

[2021-06-13 08:06] damithc opened #1581 "Box components: support applying built-in color schemes"
v3.0.1

Box components follow a different color scheme based on the type of box. Example:
![image](https://user-images.githubusercontent.com/1673303/121799767-795d0c80-cc60-11eb-9d1c-63ca2015fb14.png)

In some cases, the default color scheme might not go well with the overall style of the page. In the example above, blue/black/grey would fit better with the page.

Perhaps we can let the user overr

[2021-06-13 16:41] damithc commented on #1580
In some cases, even manual refreshing doesn't seem to work. The page gets stuck in the 'loading' state when I refresh manually.

[2021-06-13 17:29] damithc opened #1582 "<site-nav> doesn't support includes"
v3.0.1

While it is possible to use an `<include>` inside a `<site-nav>`, the output doesn't seem to be as expected.

[code]
Expected (if the content were inserted directly):
![image](https://user-images.githubusercontent.com/1673303/121816650-67568a80-ccaf-11eb-8df3-911b8fc00fc8.png)

Actual:
![image](https://user-images.githubusercontent.com/1673303/121816664-7c331e00-ccaf-11eb-82be-b16d5dffc5d4

[2021-06-14 05:56] damithc commented on #1582
Same applies to blank lines inside the bullet list.
[code]

While not a big problem, it's nice if the feature can be insensitive to such blank lines. For one thing, nunjucks can insert extra blank lines e.g., if a `for` loop is used to generate the items in the list.

[2021-06-14 06:01] damithc opened #1583 "Live preview shows spinner instead of new content"
v3.0.1

When I change the content of a page, the live preview triggers a refresh but the spinner doesn't goes away. The new content appears only after I do a manual refresh.
The same applies when I click on a link in the previewed page. The browser goes to the new page, but get stuck at the spinner. It shows the content only after a manual refresh of the page.

I was using `markbind serve -o` but

[2021-06-14 06:12] damithc opened #1584 "intra-site link validation doesn' cater for boilerplates"
v3.0.1

When a `boilerplate` attribute is used with `src`, either intra-site link validation should be skipped or the link checking should take into account the file should actually be in `_markbind/boilerplates` folder.

e.g.,
`<panel src="..." boilerplate ... />`
`<include src="..." boilerplate ... />`

More info on boilerplates feature https://markbind.org/userGuide/reusingContents.html#using-b

[2021-06-14 06:19] damithc opened #1585 "Global disabling of intra-site link checking doesn't work for live prevew"
If I disable intra-site link checking globally (i.e., in the site.json), the warning don't show up during the initial loading of the site (for `markbind serve`) but they still appear when a page build is triggered via the live preview e.g., when I click on a page in the previewed page.

[2021-06-14 06:26] damithc commented on #1585
False alarm. I was modifying the wrong site.json :-p

[2021-06-14 06:26] #1585 closed

[2021-06-14 07:52] damithc opened #1586 "se-book migration to V3: error while generating site"
Guys, I need help with troubleshooting this problem. I did the layout migration but can't figure out another error that popped up. I can't figure out where the error is coming from.

Steps:
1. Clone https://github.com/damithc/se-book
2. Run `markbind serve`

Problem: A bunch of 'no such file' errors appear and the site cannot be served.
![image](https://user-images.githubusercontent.com/1673303/12

[2021-06-16 12:35] #1576 closed

[2021-06-16 12:45] ang-zeyu commented on #1586
Fixed, and tests added.

[2021-06-16 12:46] #1586 closed

[2021-06-16 13:08] ang-zeyu commented on #1583
I've never actually experienced this (stuck at spinner) so far, but have a couple of times the long standing issue with needing a manual refresh (but not with a spinner page).

My guess is that `live-server`'s file watching is debounced in some way by the os. (as I observed this most notably when making repeated successive changes and saves to source files).

We might explore plucking over (removi

[2021-06-16 13:13] ang-zeyu commented on #1582
This is expected behaviour,

As `<include />` is WYSIWYG, when you write this,
[code]

what you're actually writing is something along these lines:
[code]

You can
- use nunjucks `{% include %}` (which is processed before everything else) to include the markdown as is, or
- move the `<site-nav>` itself down to adminSiteNav.md

We really do need better documentation for how MarkBind's `<include />`

[2021-06-16 13:13] #1582 closed

[2021-06-16 13:17] ang-zeyu commented on #1580
Hmm haven't observed this so far, also just tried again. (with our user guide which isn't too large of a site, but not too small either)

Is there a reproduction site?

[2021-06-16 14:06] damithc commented on #1580
I can reproduce it in the se-book site https://github.com/damithc/se-book
Steps:
1. Run `markbind serve -o`
2. Change an element in the site-nav of the default.md and save.
3. Console shows the following
    ![image](https://user-images.githubusercontent.com/1673303/122233417-9f97dc00-ceee-11eb-9fd1-ce2692695c2c.png)
4. The page does not refresh automatically. If I manually refresh the page, it sh

[2021-06-16 14:12] damithc commented on #1580
Observed the same with Chrome too.

[2021-06-16 14:27] damithc opened #1588 "se-book: panels/modals don't work in some pages"
Code: https://github.com/damithc/se-book

Dynamic elements such as panels, modals, tooltips don't seem to work in some page. Here is an example:

![image](https://user-images.githubusercontent.com/1673303/122236529-2d74c680-cef1-11eb-8ad1-0ecaa02a9ffa.png)

Can't figure out the reason. They seem to work in other pages e.g., if I add a panel in the root page index.md, it seems to work.

[2021-06-16 14:51] damithc commented on #1580
BTW, this and #1583 may be the same after all. The problem seem to apply to any page, not just layout files.

[2021-06-16 14:54] ang-zeyu commented on #1588
![Untitled](https://user-images.githubusercontent.com/3306138/122241591-41bac280-cef5-11eb-9db6-24bd24b4dd74.png)

@wxwxwxwx9 could you check this out? (removing popovers does the trick)
again, likely something site specific as it it seems to be working in markbind.org

[2021-06-16 14:57] ang-zeyu commented on #1580
agreed

[2021-06-16 15:02] ang-zeyu commented on #1583
I fiddled around with your site a little more, and realised this is not the same problem. (although I think its still something we should do eventually)

For now the new `markbind s -o` features are simply missing baseUrl handling logic. @ryoarmanda -- if you have the time to fix this 🙇

As a workaround you can temporarily remove the baseUrl during development.

[2021-06-16 15:13] damithc commented on #1583
Yup, that works. Thanks for the workaround @ang-zeyu

[2021-06-16 15:30] damithc opened #1589 "se-book: Some site-nav items are not highlighted when visited"
code: https://github.com/damithc/se-book

![image](https://user-images.githubusercontent.com/1673303/122247852-3f0e9c00-cefa-11eb-8028-c2ab9dbd4a23.png)

Expected: When a user clicks on a sub-menu item of the site-nav, the parent menu should stay expanded and the clicked item should be highlighted in blue.
Actual: Most of these sub-menu items don't get highlighted when visiting them. Strangely, hi

[2021-06-16 15:34] damithc opened #1590 "Collapsed page-nav covers content"
V2 behavior:
![image](https://user-images.githubusercontent.com/1673303/122249198-39658600-cefb-11eb-86dc-2b5acb41aca2.png)

V3 behavior:
![image](https://user-images.githubusercontent.com/1673303/122249055-1e931180-cefb-11eb-96fd-46c9d2cc52f0.png)

[2021-06-16 15:43] #1589 closed

[2021-06-17 13:16] ryoarmanda commented on #1583
Alright, I'm on it :+1:

[2021-06-17 15:12] damithc commented on #1582
Yup, this works. Thanks for the clarification @ang-zeyu

We can document this difference between `<include>` and `{% include %}` somewhere in https://markbind.org/userGuide/reusingContents.html#includes

[2021-06-17 15:24] damithc opened #1591 "se-book: Some MarkBind syntax not rendered correctly"
Code: https://github.com/damithc/se-book

![image](https://user-images.githubusercontent.com/1673303/122426720-0e466980-cfc3-11eb-8331-5086d5d46c0e.png)

[2021-06-19 05:07] wxwxwxwx9 commented on #1588
@ang-zeyu sorry for the late reply! Missed this during the weekday, will look into this!

[2021-06-19 09:49] wxwxwxwx9 commented on #1588
![Screen Shot 2021-06-19 at 5 47 43 PM](https://user-images.githubusercontent.com/37920115/122638404-7cf00800-d126-11eb-99af-b344696ab6d2.png)

@ang-zeyu It's a careless mistake from my side -- missed out adding the methods to the Vue initialization for sites which are not setup with search. Will make a PR to fix it!

@damithc thanks for raising this up!

[2021-06-19 10:06] #1588 closed

[2021-06-19 11:08] wxwxwxwx9 commented on #1583
Got it! Will try to explore how we can implement our inhouse version :-)

[2021-06-19 12:08] wxwxwxwx9 commented on #1591
Hi Prof! I've investigated the issue and here are some fixes/suggestions/clarifications (all under the `variables.md` file):

1) For the "click" issue, I'm still looking into what causes this behavior. The problem should be something to do with the icon that was used for that line (tried using some other icons and some "fixed" the problem). Give me some time to look into this behavior more :-)

2)

[2021-06-19 13:18] ang-zeyu commented on #1591
@wxwxwxwx9 1 & 2 are due to the new inline tags whitelist in the markdown rule, should be fixed by adding just `<md>` in (as it also precedes the ctrl+click example inside the variable)

[2021-06-19 14:55] damithc commented on #1591
Wrapping with `<md>` tags solved the problem here:
![image](https://user-images.githubusercontent.com/1673303/122646308-1c29f500-d151-11eb-9f17-1b4f0301bff2.png)

But I can't explain why an `<md>` tag is needed here:
![image](https://user-images.githubusercontent.com/1673303/122646214-9d34bc80-d150-11eb-901c-161f3b98d475.png)
`{{ icon_new_window }}` has the value `<span id="icon_new_window"><md>:g

[2021-06-20 01:22] kimberlyohq commented on #1581
Hi Prof, I would like to try working on this for my first issue.
Other than supporting the **dark** predefined style, are the other styles supported `primary` and `light` to follow the behaviour of `navbar`?

[2021-06-20 03:26] damithc commented on #1581
@kimberlyohq I was thinking of these bootstrap color schemes
* primary
* secondary
* warning
* info
* success
* danger
* light
* dark

https://getbootstrap.com/docs/4.0/utilities/colors/

[2021-06-20 04:05] kimberlyohq commented on #1581
Ah ok, I misunderstood, i thought it was meant to match the themes. Thanks for clarifying! I would like to work on this issue if possible😊

[2021-06-20 04:17] damithc commented on #1581
@MarkBind/active-devs is this suitable as a first-timer issue? Also, is the feature suitable for implementation, cost-benefit wise?

[2021-06-20 06:22] jonahtanjz commented on #1590
Thanks for bringing this up Prof @damithc. The fixed header padding is dynamically adjusted by accessing the `cssRules` property of individual stylesheet. But due to [Cross-Origin Resource Sharing (CORS)](https://developer.mozilla.org/en-US/docs/Web/HTTP/CORS) security, the `cssRules` is not accessible if the stylesheet is imported from a different domain (external stylesheet etc.), causing the fu

[2021-06-20 06:58] wxwxwxwx9 commented on #1581
I think this is a good first-timer issue. Just to get a more senior opinion, @ang-zeyu what do you think?

[2021-06-20 10:00] ang-zeyu commented on #1591
@wxwxwxwx9 @damithc

sorry, meant adding it in here https://github.com/MarkBind/markbind/blob/master/packages/core/src/lib/markdown-it/patches/custom-component/inlineTags.js

The reason is that markdown-it treats all unrecognised tags (`<md>` for example) as "block" tags by default. The patch from vuepress in #1548 reverses that.

[2021-06-20 10:36] ang-zeyu commented on #1581
@damithc
Maybe we could keep all the current icon mappings then support this with a separate `color-type="... bootstrap colors ..."` attribute of sorts?

A "compound" `type="tip dark"` attribute would be more convenient but would conflict against the `info / success / warning`
colors. E.g. for `type="success definition`", its ambiguous as to which icon (tick / book) or alert background (green / bl

[2021-06-20 12:02] damithc commented on #1581
Yes, I'm OK with using a separate attribute too. `theme="..."`?

[2021-06-20 12:22] damithc commented on #1583
BTW, any of you able to reproduce this problem or is it just me?

[2021-06-20 13:20] ang-zeyu commented on #1581
sounds good 👍

[2021-06-20 13:32] kimberlyohq commented on #1581
theme sounds good and would be clearer.

@ang-zeyu Thank you. I will look into #1558

[2021-06-21 06:59] kimberlyohq commented on #1558
Hi @ang-zeyu, I am currently working on this and I have a few questions. While trying to implement the “icon” using a similar approach in the link, it seems like I have to hardcode quite a few variables such as width, height. Is this expected or is there a workaround? 😅 This is what I have currently

https://user-images.githubusercontent.com/60393696/122719519-dc722300-d2a0-11eb-847c-f89c38163706.

[2021-06-21 12:31] ang-zeyu commented on #1558
@kimberlyohq "hardcoding" widths and heights with `px` (I'm assuming) is fine (and in fact very common) if it ultimately still results in appropriate responsive design.

But I may be missing something 😛, will need to take a look at your PR to figure out the specifics for this case.

[2021-06-21 12:44] kimberlyohq commented on #1558
@ang-zeyu okay! I will clean up the code and send a PR soon😊

[2021-06-21 13:22] #1583 closed

[2021-06-21 13:27] #1590 closed

[2021-06-23 04:00] damithc commented on #1575
@ang-zeyu the effect is only cosmetic, right? The deployed site works correctly?

[2021-06-23 04:02] damithc commented on #1591
@wxwxwxwx9 Will you be sending a PR for this issue?

[2021-06-23 05:00] wxwxwxwx9 commented on #1591
Yup! Will send a PR for this :-)

[2021-06-25 16:46] samuelfangjw opened #1597 "Typo in using components page of user guide"
Hi, I found a small typo in the using components page of the user guide at https://markbind.org/userGuide/usingComponents.html.

<img width="556" alt="Screenshot 2021-06-26 at 12 43 06 AM" src="https://user-images.githubusercontent.com/60355570/123458328-82ae8780-d617-11eb-81da-b88f90fc6c52.png">

I believe "PlanUML" should be "PlantUML" instead.

[2021-06-26 03:07] #1558 closed

[2021-06-26 03:11] ryoarmanda commented on #1597
Thank you for the heads up, @samuelfangjw! Should be fairly simple to fix, if anyone wants to take this on 😃

[2021-06-26 16:24] ming-00 opened #1599 "Documentation bug: outdated directories"
I believe that some of the the directories specified in the [Project Structure](https://markbind.org/devdocs/devGuide/design/projectStructure.html) section of the developer's guide might be outdated:
<br>
<img width="788" alt="Screenshot 2021-06-27 at 12 22 32 AM" src="https://user-images.githubusercontent.com/59130765/123519418-c5d32e00-d6dd-11eb-9a53-8f677ecc79b6.png">
The CLI application should

[2021-06-26 19:49] samuelfangjw commented on #1597
I would like to take this on if possible!

[2021-06-26 21:43] samuelfangjw opened #1601 "User Guide: Unable to open details panel on mobile"
**Tell us about your environment**
Safari, iOS.

**What did you do? Please include the actual source code causing the issue.**
<img width="30%" src="https://user-images.githubusercontent.com/60355570/123526331-b669da00-d709-11eb-8d72-0e208f54b299.PNG" alt="IMG_2596"></img>

On the Nav Bar section at https://markbind.org/userGuide/readerFacingFeatures.html, I am unable to expand the details panel (

[2021-06-26 21:49] samuelfangjw opened #1602 "Nav Bar collapses when scrolling to top of page on iOS"
**Tell us about your environment**
Safari, iOS

**What did you do? Please include the actual source code causing the issue.**
On pages on markbind.org, when the page is scrolled to the top the navbar collapses automatically and I am unable to access the hamburger menu.

https://user-images.githubusercontent.com/60355570/123526516-0f863d80-d70b-11eb-89e2-c2a4a17a31f8.MP4

[2021-06-27 02:16] #1584 closed

[2021-06-27 04:24] #1597 closed

[2021-06-27 04:45] jonahtanjz commented on #1601
Thanks for the catch @samuelfangjw. Seems like this is caused by [`.card-container::before`](https://github.com/MarkBind/markbind/blob/master/packages/core-web/src/index.js#L52) of the next panel blocking the details panel in the mobile version.

![image](https://user-images.githubusercontent.com/47470981/123533002-9277ba00-d744-11eb-8b88-dc2510a00e8a.png)

@ang-zeyu Can I check why was [this]((ht

[2021-06-27 06:01] ang-zeyu commented on #1601
@jonahtanjz
It was introduced in #1191 to allow navigating to `minimised` panels (which use `span`s). And then slightly altered in #1557 to accomodate the ssr pr changes. (but not enough)

There's a couple of easy enough fixes if you want to take a shot at it.

---

As a side tip, I'd highly recommend getting used to your ide's git annotate / blame features, its a really effective tool for getting

[2021-06-27 06:06] #1591 closed

[2021-06-27 06:10] #1578 closed

[2021-06-27 06:18] ang-zeyu commented on #1599
Thanks for the catch @ming-00. This portion should be rewritten into an introduction of sorts with the more detailed architecture diagram now available.

[2021-06-27 07:44] jonahtanjz commented on #1601
Thanks @ang-zeyu! I will look into this

[2021-06-27 13:45] #1601 closed

[2021-06-28 04:34] damithc opened #1604 "Nested <md> tags interfere with rendering"
v3.0.3

[code]
output:
![image](https://user-images.githubusercontent.com/1673303/123580554-ae469300-d80c-11eb-8201-c963cb3b6dc3.png)

The problem is the `icon_video` already has an `<md>` tag in it.
[code]

Not sure if we can even get this 'nested `<md>` tags' to work but posting here in case there is a solution. If not, I can tweak the code to avoid the nesting, although not as convenient as the

[2021-06-28 05:08] damithc opened #1605 "Make 'print all tabs' optional"
In #1498, we made _all_ tabs appear in the print view. In retrospect (my bad), this did not consider the case where we actually _don't_ want some tabs to be printed (e.g., if they contained optional content).

I think we need to provide a way to opt-in or opt-out of showing a specific tab in the print view.

[2021-06-28 05:09] damithc commented on #1605
@jonahtanjz what do you think? While not urgent, I need a solution before the start of next sem, as I have to generate PDF files for the text books (at the start of Aug).

[2021-06-28 06:17] damithc opened #1606 "Replace deprecated highlight.js syntax"
v3.0.3

Saw this message in the MarkBind console:

Deprecated as of 10.7.0. Please use highlight(code, options) instead.
https://github.com/highlightjs/highlight.js/issues/2277

[2021-06-28 09:05] ryoarmanda commented on #1606
Thanks for the heads up prof, this was already raised in #1549. The deprecated method can still work but it would be best if we can adopt the new one sooner.

[2021-06-28 09:14] damithc commented on #1606
Oops. Thanks for checking @ryoarmanda

[2021-06-28 09:14] #1606 closed

[2021-06-28 09:17] damithc opened #1607 "Page-nav items behaving oddly if inline includes are combined with spans"
v3.0.3

Expected: page-nav should detect the current topic in view e.g., (from V2)
![image](https://user-images.githubusercontent.com/1673303/123611757-82d79e80-d834-11eb-8777-8b864bf21310.png)

Actual:
![image](https://user-images.githubusercontent.com/1673303/123611844-97b43200-d834-11eb-9067-3ea9ff45e5a0.png)

Example:
https://se-education.org/se-book/designFundamentals/index.html

[2021-06-28 11:08] damithc opened #1608 "[V3] including a span by id results in empty contents in some cases"
Consider this `foo.mbdf`:
[code]

Suppose `<include src="foo.mbdf#bar2" />` appears in another file.
Expected: `text2`
Actual: (nothing to see, and no errors)

However, it works as expected if I use a `div` instead of a `span`
[code]
or remove the leading blank line inside the `span`
[code]
or add a blank line between the spans
[code]
🤔  This wasn't the case in V2 though.

[2021-06-28 11:11] jonahtanjz commented on #1605
Yes I can work on this.

Something like this:
[code]
In this case only first and third tabs will get printed etc. The default will print all tabs. Is this fine or do you prefer the other way around which defaults to no print unless specified?

[2021-06-28 12:25] damithc commented on #1605
The proposed approach sounds good @jonahtanjz Go ahead.

[2021-06-28 12:56] ang-zeyu commented on #1608
v3 is a lot more spec compliant in general.

[code]

[2021-06-28 12:59] damithc commented on #1608
I see. I guess better to use `div` then. Thanks for checking @ang-zeyu

[2021-06-28 12:59] #1608 closed

[2021-06-28 13:02] ang-zeyu commented on #1607
👀

to add, it seems page specific:
e.g. not ok here https://se-education.org/se-book/designFundamentals/index.html
but ok here https://se-education.org/se-book/about/usage.html (I think our docs as well)

[2021-06-28 13:25] ang-zeyu commented on #1604
This is a little difficult.

I added `<md>` to the list of "special tags" (recall `<puml>`) for v3, allowing it to contain this:

[code]

the consequence is that this makes nested `md` tags impossible
[code]

the (user) solution would be to
1. know your markdown rules
2. avoid using `<md>` in variables.md

less convenient at first glance but equally usable with enough markdown knowledge.

you can

[2021-06-28 13:27] ang-zeyu commented on #1604
I think this is subjective ultimately but my personal opinion here is that we should stick with the new behaviour as
1. it encourages knowing the markdown spec and not spewing `<md>` everywhere as a hotfix to things
   - this should only be used where it is *deeply inconvenient* to adjust the content to meet the commonmark + gfmd spec
2. its more inline with the nunjucks -> markdown -> html proces

[2021-06-28 13:29] ang-zeyu commented on #1604
3. just a conjecture but there should be overhead that matters when doing many separate `<md>` calls versus just one ("economies of scale")

[2021-06-28 14:18] damithc opened #1610 "Vue warning for Tabs 'active' prop"
I'm getting this build warning when I use `active="1"` in a `<tabs>` tag.

       <Box> at vue-components/src/TipBox.vue
         <Root>
[Vue warn]: Invalid prop: type check failed for prop "active". Expected Number with value 1, got String with value "1".

The output doesn't seem to be affected though.

[2021-06-28 14:40] damithc opened #1611 "<span> not allowed in site-nav"
Previously, I was able to do this kind of styling e.g., use badges/colors in the site-nav using `<span>` elements.

![image](https://user-images.githubusercontent.com/1673303/123655013-32c30100-d861-11eb-8215-83e0d4c0901b.png)

Is it not allowed anymore? The `<span>` tags in site-nav items seem to be ignored now.

Not a deal-breaker but just checking if it is allowed.

[2021-06-28 15:09] ang-zeyu commented on #1611
should still be allowed, will need the source

[2021-06-28 15:20] damithc commented on #1610
Thanks for checking @jonahtanjz
Raising priority. Best if we can fix it in the next release as the warning adds a lot of noise to the build output and there is no way to disable it.

[2021-06-28 15:51] damithc commented on #1611
Example:

`* [text1 <span class="text-danger">text2</span>]()`

![image](https://user-images.githubusercontent.com/1673303/123665857-3f4c5700-d86b-11eb-8666-4b08be54511d.png)

[2021-06-28 16:14] damithc commented on #1604
Got it. Yes let's leave things be for this case.

[2021-06-28 16:14] #1604 closed

[2021-06-28 16:18] damithc commented on #1607
Yes, I noticed that too, later. Probably something to do with the headings being inside panel components in those pages.
![image](https://user-images.githubusercontent.com/1673303/123669955-407f8300-d86f-11eb-8254-5afe6a5cb2c8.png)

There's a chance that this was like that in V2 too.

[2021-06-29 03:24] damithc opened #1614 "Page nav title: add padding before the title"
Add a bit of padding here by default?
![image](https://user-images.githubusercontent.com/1673303/123732235-2aec7680-d8cc-11eb-8624-908e5ea84b3e.png)

[2021-06-29 06:58] damithc commented on #1607
An update:

The relevant source code is in https://raw.githubusercontent.com/se-edu/se-book/master/_markbind/boilerplates/container-inParent-asPanel.md

[code]

Strangely, if I add some chars between `##` and `<include ...`, it starts working again.
[code]
![image](https://user-images.githubusercontent.com/1673303/123751392-48c8d400-d8ea-11eb-8014-8fd34b9d4318.png)

[2021-06-29 07:19] damithc opened #1615 "[cs2103 website] Some site-nav items are not highlighted when open"
Deployed site: https://nus-cs2103-ay2021s2.github.io/website/admin/index.html

Clicking on this site-nav item will auto-expand the parent menu and highlight the item in blue after the target page is loaded, as expected.
![image](https://user-images.githubusercontent.com/1673303/123752580-837f3c00-d8eb-11eb-89d7-8006aaa411db.png)

Problem: If I click on this item, the correct item is highlighted in

[2021-06-29 07:33] damithc opened #1616 "[cs2103 website] Some top-nav menu items are not highlighted when visited"
Similar to #1615 , not urgent/critical but help me troubleshoot this problem too. Site/code location and steps to set up locally are similar too.

When the user visits the page in this menu item, the top-nav menu item is highlighted in blue (as shown, and as expected) **after the target page is loaded** (I'm not referring to the hover-over effects).
![image](https://user-images.githubusercontent.c

[2021-06-29 07:50] damithc opened #1617 "PlantUML diagrams require a manual refresh when live-previewing in lazy loading mode"
When using `markbind server -o`, if a page has a PlantUML diagram, the diagram appears as a broken image link when the page is auto-refreshed (due to an edit to the source code). Only after manually refreshing the browser I can see the diagram in the previewed page.
After auto-refresh by the live preview:
![image](https://user-images.githubusercontent.com/1673303/123758504-91d05680-d8f1-11eb-9f10-

[2021-06-29 08:05] damithc opened #1618 "PlantUML diagram in modal missing when lazy-load live-previewing"
When running the command `markbind serve -o`:

![image](https://user-images.githubusercontent.com/1673303/123759125-318de480-d8f2-11eb-9bf4-de5b366e68fc.png)

Code of the modal:
[code]

However, `gradeBreakdown.png` is to be built from PUML code in another page (let's call that the _parent page_ and the one containing the modal the _modal page_).
[code]

I assume the image was never built because

[2021-06-29 08:12] damithc opened #1619 "Background build crashes if I visit another page soon after"
Steps to reproduce locally:

1. clone https://github.com/nus-cs2103-AY2021S2/website
1. clone the submodule, as explained in the README
1. checkout the branch `cs2103`
1. run `markbind serve -o -b`
2. after the landing page is loaded, click on a few other links in the site-nav.

The error:

error:  message=ENOENT: no such file or directory, open 'C:\repos\nus-cs2103\cs2103-website-base\_site\book\

[2021-06-29 08:18] damithc opened #1620 "User guide: missing double quotes"
https://markbind.org/userGuide/usingComponents.html#diagrams

Should this be `width="300"` ?
![image](https://user-images.githubusercontent.com/1673303/123762409-5d5e9980-d8f5-11eb-8f6c-bb5ef25467d7.png)

[2021-06-29 13:45] #1610 closed

[2021-06-29 14:03] ang-zeyu commented on #1605
Sorry for the late reply @jonahtanjz, wonder if it'd better to just delegate this to the user with bootstrap's `d-print-none` class.

It's not working for `<tab> / <tabgroup>` right now, but fixable by simply removing the `!important` with our own `md-d-print-block` class.

[code]

On a related note, there's quite a few other usages of `!important` I realise we should try to avoid using in our com

[2021-06-29 14:18] ang-zeyu commented on #1620
This is valid html, but should be changed for ug consistency.

[2021-06-29 14:22] ang-zeyu commented on #1615
Also occurs in week 7.

Try removing parts of the page content temporarily and see what happens. Could be caused by something else

[2021-06-30 14:47] kimberlyohq commented on #1614
Hi prof, I would like to take on this if possible😊

[2021-06-30 15:12] damithc commented on #1614
@kimberlyohq let's leave this for a first-timer. @MarkBind/active-devs I assumed this is easy enough for a first-timer. Please remove the label if that's not the case.

[2021-07-02 15:55] jonahtanjz commented on #1605
That sounds good as this can be generalised to apply to other components as well. If we are going in this direction, do you think we should also create our own custom class, `no-print` or something similar, so that it's easier for the user to reference compared to bootstrap's provided class? @ang-zeyu and Prof @damithc, any thoughts on this?

Yup that sounds good. We can open another issue to reso

[2021-07-02 16:00] #1620 closed

[2021-07-02 16:52] damithc commented on #1605
I'm OK with this approach too. Remember to update the documentation of the tab component to mention how to hide tabs using this generic method.

[2021-07-03 03:44] #1611 closed

[2021-07-03 11:22] jonahtanjz commented on #1615
Did some investigation and I believe it's something related to hydration issue after introducing SSR. Somehow after detecting a hydration issue, some of the states get reset, which explains why this issue only affects certain pages. I'm not too familiar with this perhaps @wxwxwxwx9 can take a look at this as well? Similarly, in #1616, the added class `dropdown-current` gets removed after bailing h

[2021-07-03 12:08] wxwxwxwx9 commented on #1615
Hmm @jonahtanjz can I check how did you replicate the hydration issue and what is it about? :O

I couldn't replicate it on my side.

[2021-07-03 12:12] wxwxwxwx9 commented on #1619
Hmm, I wasn't able to replicate this (the crash). Seems to be working fine for me. Perhaps others can try replicating this.

[2021-07-03 15:30] jonahtanjz commented on #1615
Sorry @wxwxwxwx9 hydration issue is probably not the cause. Was looking at the wrong page 😓 It occurs on pages without hydration issue as well.

[2021-07-03 17:03] ryoarmanda commented on #1619
Couldn't reproduce this as well, but so far I have only tried it in one run. My current guess that this is probably an intermittent issue caused by the asynchronous nature of the page generation.

We can still investigate this further by trying multiple runs or reading from the provided stack trace. @damithc have you experienced this error/crash quite consistently (i.e. more than once) or is it ju

[2021-07-03 17:30] damithc commented on #1619
Turns out it has nothing to do with clicking. The the command fails on its own after a while with the given error. And it seems to happen almost every time (happened 5/5 most recent tries).

[2021-07-04 05:12] kimberlyohq commented on #1357
Hi, I would like to work on this issue if it is still relevant? 😊

[2021-07-04 05:21] damithc commented on #1357
This is what I see on Chrome, based on the latest MarkBind version.

![image](https://user-images.githubusercontent.com/1673303/124374061-9a96a300-dcca-11eb-9e1e-f639168094e2.png)

I think the two look different enough. Closing this issue now. Thanks for looking into this @kimberlyohq

[2021-07-04 05:21] #1357 closed

[2021-07-04 17:25] jonahtanjz commented on #1605
@ang-zeyu Turns out tabs are using inline styling to show/hide the content of each tab, which is how `v-show` works. This complicates things as inline styling has a really [high specificity](https://developer.mozilla.org/en-US/docs/Web/CSS/Specificity) which means the only way to override it is to use `!important`. What do you think of using the `no-print` attribute suggested earlier in this situa

[2021-07-05 13:29] #1614 closed

[2021-07-05 14:46] damithc commented on #1611
It's working now. Thanks for the fix @ang-zeyu

[2021-07-05 14:52] damithc commented on #1610
Fixed now. Thanks for the fix @jonahtanjz

[2021-07-05 14:59] damithc commented on #1610
Sorry, spoke too soon CS2103 website still produces this type of warning when doing a full build, although not the exact same error. Will open a separate issue for it.

[2021-07-05 15:04] damithc opened #1628 "Vue warning for boolean variables"
Error message in the build console:

       <Panel> at vue-components/src/Panel.vue
         <Root>
[Vue warn]: Invalid prop: type check failed for prop "expandable". Expected Boolean, got String with value "true".
found in
---> <NestedPanel> at vue-components/src/panels/NestedPanel.vue
       <Panel> at vue-components/src/Panel.vue
         <Root>

To reproduce,

1. clone https://github.com/nus-c

[2021-07-07 16:31] ryoarmanda commented on #1619
I tried to run the background build without interruption and it still cleanly finishes... it's a tricky problem here, I would need to make do with just the error trace (I don't want to readily say there's nothing we can do for this).

Here is my investigation on this:

TL;DR - The crash is likely because of the unhandled rejections. The catalyst of the rejections is probably overwhelming requests

[2021-07-07 17:46] damithc commented on #1619
Thanks for the follow up work @ryoarmanda
Will give it a try and let you know how it goes.

[2021-07-07 18:18] damithc commented on #1619
@ryoarmanda here's the error message I got from this version.
* BTW, the precise version of the CS2103 website I'm using is https://github.com/nus-cs2103/website-base
* I linked my MarkBind to the version in this PR for this experiment but how to confirm (as there is no change in behavior)?. Perhaps you can put some extra log messages in this version to confirm that I'm using the correct version b

[2021-07-08 04:42] ryoarmanda commented on #1619
Just to confirm, are you working on the `master` branch or other branches?

Thanks for the suggestion, I added some changes to the PR, now we can identify whether the trial is used by looking at the logged version (should be `v3.0.4-trial`).

Regarding the error log you provided, not sure if it's properly linked. The unhandled rejection error still says `Error while generating undefined`, pretty s

[2021-07-08 05:15] damithc commented on #1619
I'm using `cs2103` branch. On Windows 10.

Yes, It's possible that the new version wasn't linked properly before. There was an error from the `npm link` command this time that I probably didn't spot last time. So, I used `npm link --force` to overcome that error this time.

After linking properly (I hope), I'm getting this error for `markbind serve -o`.

The error goes away after I unlink and go b

[2021-07-08 06:34] damithc commented on #1619
BTW, i'm using this method to link https://markbind.org/devdocs/devGuide/settingUp.html#setting-up-the-dev-environment
I hope it's the correct method.

The error I get for `npm link` (when run inside `packages/cli` folder) is the following:

npm notice created a lockfile as package-lock.json. You should commit this file.
added 3 packages from 8 contributors and audited 854 packages in 7.24s

  run

[2021-07-08 07:28] ryoarmanda commented on #1619
Can you try running `npm run setup` (the third step in the guide)? I usually just use that when checking out development code. If I'm not wrong, it also does the linking for you.

[2021-07-08 09:40] kimberlyohq commented on #1575
Hi, I did some investigation and it seems to be due to [`getRemoteBranchFile` method](https://github.com/MarkBind/markbind/blob/1e0c159c4b566f1c087adcf6f89c64f2d4e26f7c/packages/core/src/utils/git.js#L9) throwing an error, which result in the remote url being logged instead as `cname` returns undefined [here](https://github.com/MarkBind/markbind/blob/1e0c159c4b566f1c087adcf6f89c64f2d4e26f7c/packag

[2021-07-08 12:47] ang-zeyu commented on #1605
could try this (our own `v-show`) (with the `hide` scoped):

[code]

[2021-07-08 12:52] jonahtanjz commented on #1575
Thanks for investigating this @kimberlyohq 👍

Noticed another potential issue here. Seems like [`options.remote` is always `origin`](https://github.com/MarkBind/markbind/blob/1e0c159c4b566f1c087adcf6f89c64f2d4e26f7c/packages/core/src/Site/index.js#L1549) which may explain why it's calling `origin/master:CNAME`. In fact, if you look at the deploy option for [ug-site.json](https://github.com/MarkBin

[2021-07-08 13:23] ryoarmanda commented on #1549
@raysonkoh are you working on this? I might take it on if you haven't. The deprecated logs kind of clutter our CLI logs a bit.

[2021-07-08 14:12] ryoarmanda opened #1633 "Better CLI console experience when encountering errors or other logs"
**Is your request related to a problem?**

I feel that our CLI console experience can be made more user-friendly when encountering warns, errors, or other info logs. There are some little clutters from progress-bars and errors/warns that take up a good chunk of the screen, which can make debugging a bit challenging, or can confuse authors.

**Describe the solution you'd like**

There are some impr

[2021-07-08 14:48] ang-zeyu commented on #1633
Agree with item 2 (not too familiar on item 1 yet). We could also create a standardised `logger` method of sorts to encourage proper thought on what error messages we should present in the cli, rather than separate `logger.error/debug` methods

e.g.
[code]

[2021-07-09 07:08] kimberlyohq commented on #1575
@jonahtanjz

I tried a few approaches to point to the repo to fetch the CNAME file but I'm still encountering some errors, tested at https://github.com/kimberlyohq/test

**Approach 1**

Doing so results in the `not a valid object name` error
GitError: fatal: Not a valid object name https://github.com/kimberlyohq/test.git/gh-pages:CNAME

**Approach 2**
I tried adding remote url to point to the repo

[2021-07-09 14:52] ang-zeyu commented on #1605
sorry, missed this earlier. I think we should stick to bootstrap's `d-print-none` class for now as some small snippets of our documentation are already referencing bootstrap classes in bulk (badges for example) or as snippets. Bootstrap support is also documented in the home page https://markbind.org/index.html.

We can always add this on if we decide to move away from bootstrap in a later major r

[2021-07-09 17:37] jonahtanjz commented on #1575
Hmm seems like this is an issue with git's `cat-file` command itself. The command doesn't seem to be able to 'cat' a file from a remote repo using the url. Perhaps we can explore using `git archive` or simply curling the file (should be supported by most git platform)? Can also look for better alternatives if those don't work out. @ang-zeyu @kimberlyohq any thoughts on this?

[2021-07-10 07:54] damithc opened #1634 "Footer margin adjustment needed?"
Raised by a RepoSense dev [here](https://github.com/reposense/RepoSense/pull/1559#discussion_r667010276), regarding some lines in the main css file generated by MarkBind `init`.

![image](https://user-images.githubusercontent.com/1673303/125156201-e5b32900-e196-11eb-9732-c04f7438e7a7.png)

[2021-07-15 13:34] damithc commented on #1607
This problem cropped up in another place, albeit in a slightly different form:

See https://nus-cs2103-ay2122s1.github.io/website/schedule/week3/project.html

Note how the pageNav items appear out of order.
![image](https://user-images.githubusercontent.com/1673303/125795050-f2bfe3c1-58d0-4f99-bd62-79cbfaf07d85.png)

I managed to narrow down the problem to the following sample code.

[code]
Note h

[2021-07-15 13:34] damithc commented on #1607
Raising severity as the new symptom is more noticeable to the reader.

[2021-07-17 05:15] #1628 closed

[2021-07-17 06:43] #1605 closed

[2021-07-17 06:56] #1559 closed

[2021-07-17 13:15] damithc commented on #1607
Given the strange behavior involving numbers/symbols, I wonder if a regular expression is behind it all 🤔

[2021-07-18 04:23] damithc commented on #1607
Let's try to fix this before the semester starts. In the worst case, I can use the hack of adding some text in front, but not ideal.

[2021-07-18 07:51] ang-zeyu commented on #1607
Thanks for the examples, I published a fix for the first part of the issue (pagenav not working without some "pretext"). It might fix the second part as well @damithc

[2021-07-18 08:06] damithc commented on #1607
Thanks for the fix @ang-zeyu
The _second_ (and more severe) problem seems to be fixed now. Great!
![image](https://user-images.githubusercontent.com/1673303/126060260-68748b8d-50a8-4323-a1ba-3e8c4591c5fc.png)

The first problem seems to remain though.
![image](https://user-images.githubusercontent.com/1673303/126060223-0aa75b3e-0e3e-48e6-bbe2-b52a3c3962f7.png)

[2021-07-18 08:11] ang-zeyu commented on #1607
🎉

[2021-07-18 08:11] #1607 closed

[2021-07-18 09:58] ang-zeyu opened #1637 "Test site improvements"
**Describe the solution you'd like**

The test site works fine for detecting diffs but could be better organised in general:

- [ ] Split the tests in the main `test_site/index.md` into more files
- [ ] Dedicate a specific page to stress test the site nav, and then make a site nav that is actually usable for navigating within the site
- [ ] PR previews for the test site?
- [ ] Gitignore the `page-

[2021-07-18 10:03] ang-zeyu commented on #1618
It's indeed not possible. The image in the first file is being treated as an asset. Without building the second page there's no way to know what `gradeBreakdown.png` is supposed to be.

But as always you could extract the source material down into a common file then `<include />` it, or just use `.puml` files. I would suppose the use case for inline puml's is more of a "one-time" thing.

[2021-07-18 10:05] ang-zeyu commented on #1617
The pages are probably being generated before the puml (separate process) does here

[2021-07-18 10:12] damithc commented on #1618
Got it. I think we can live with the current status quo.

[2021-07-18 10:12] #1618 closed

[2021-07-18 10:43] damithc opened #1638 "Scroll spying is not working if the heading has an inline include"
This is the unsolved part of #1607

Scroll-spying of the pageNav is not working if the heading has an inline include (only in some specific situations)

Here is one example:
[code]

Here is another:

The relevant source code is in https://raw.githubusercontent.com/se-edu/se-book/master/_markbind/boilerplates/container-inParent-asPanel.md

[code]

Strangely, if I add some chars between `##` and `<i

[2021-07-18 11:47] #1602 closed

[2021-07-27 05:21] damithc opened #1639 "Update octicon version"
Some of these octicons don't seem to be available (or looks different) e.g., https://primer.style/octicons/file-diff-16

Perhaps we need to update our octicon version?

[2021-08-02 06:26] tlylt opened #1640 "Line ending issues when developing in Windows environment"
**Tell us about your environment**
Windows 10 Home

**MarkBind Version:**
3.0.6

**What did you do? Please include the actual source code causing the issue.**
Hello,

I am trying to set up markbind locally following the contributing guide. As I am using a Windows machine and according to #777, line endings are set as "CRLF" when I cloned it locally. I am using VSCode btw.

**What did you expect to

[2021-08-02 06:52] jonahtanjz commented on #1640
Hi, thanks for your interest in contributing to MarkBind @tlylt :) This issue can be resolved by running `npm run lintfix` before running the test scripts.

[2021-08-02 07:25] tlylt commented on #1640
Hi @jonahtanjz ,

`npm run lintfix` does seem to work. According to the [article](https://adaptivepatchwork.com/2012/03/01/mind-the-end-of-your-line/) referred in #777 and [this](https://docs.github.com/en/get-started/getting-started-with-git/configuring-git-to-handle-line-endings), I take it that it is recommended to have autocrlf set to true. In that case, I am wondering if we could perhaps igno

[2021-08-02 13:03] tlylt opened #1641 "Functional tests failed to run properly when executing `npm run test` in `packages/cli`"
**Tell us about your environment**
Windows 10

 **MarkBind Version:**
3.0.6

**What did you do? Please include the actual source code causing the issue.**
According to the developer guide > test section:

So I ran `npm run test` in the root folder, everything seems fine and tests are passing. However, when I ran `npm run test` in `packages/cli`, I got stuck.

**What did you expect to happen?**
Exp

[2021-08-03 03:30] jonahtanjz commented on #1641
Ahh seems like this is a bug. The functional test script executed should be the same when run in the `packages/cli` and root directory itself. Will have to investigate why they are giving different result. Good catch @tlylt!

[2021-08-03 03:46] jonahtanjz commented on #1640
Yup this sounds good. We can probably reopen and reuse this issue.

[2021-08-06 13:57] wxwxwxwx9 commented on #1641
@tlylt Thanks for reporting this! I've looked into this and this is indeed a bug.

Just to explain my findings. I think there are 2 parts to address in this issue.

Firstly, regarding "getting stucked" at test_site tests, this blocking behavior stems from our usage of the diff library, specifically the following line of code.

[code]

I suspect the reason for the blocking behavior may be because t

[2021-08-06 14:04] wxwxwxwx9 commented on #1639
Our version is indeed rather outdated 😓

[2021-08-06 14:11] tlylt commented on #1641
@wxwxwxwx9 Sure, I will take this:)

[2021-08-07 06:55] damithc opened #1642 "Indented boxes get cut off"
When indented, the right edge of boxes seem to get cut-off

![image](https://user-images.githubusercontent.com/1673303/128591500-ddc3a20b-da81-4cc4-ba43-d3ba6719349b.png)

Example https://nus-cs2103-ay2122s1.github.io/website/admin/ip-w4.html

[2021-08-07 13:17] jonahtanjz commented on #1642
Looks like this can be fixed with some CSS

[2021-08-08 02:02] tlylt opened #1644 "Add/fix documentation for usage of `open bugs` page under `test/functional/test_site/bugs`"
**Is your request related to a problem?**
Related to PR #1148 and issue #1140.

The original issue called for the removal of bug demo code found in `test/functional/test_site/bugs/index.md`. I believe these were used as a way to illustrate certain bugs (as seen in these two comments below).
(link [here](https://github.com/MarkBind/markbind/pull/1148/files#r399625673) and [here](https://github.com/

[2021-08-08 02:40] tlylt commented on #1640
Ok, I will reopen this to see if there are any interests/further inquiries/related discussions from others to proceed with the suggestion:)

[2021-08-09 12:01] ang-zeyu commented on #1640
Thanks for bringing this up, have been using vscode / webstorm's save on lint to deflect this for quite a while 😄

Removing `linebreak-style` sounds good, maybe let's do that for the main `.eslint.rc` only though, then create a separate "`.eslint.test.rc`" for our test scripts so line endings are still checked there. We had a couple of misaligned line endings committed in the past even with the gi

[2021-08-09 12:14] ang-zeyu commented on #1421
labelling this as `high` now that 3.0 is rather stable, we could really use better type safety going forward to prevent silly regressions and make variables / fields a little more readable

[2021-08-09 12:19] tlylt commented on #1640
Hi @ang-zeyu , sure I think it's indeed a good fail-safe to keep the test scripts checking on.
May I work on this?

[2021-08-09 12:27] ang-zeyu commented on #1640
sure, thanks! @tlylt

[2021-08-09 13:06] ang-zeyu opened #1646 "See about adding a fully/semi automated contributors icon list"
So we don't miss anyone out from [here](https://markbind.org/about.html) : )

Something like this, or one of the more common "circular icon" ones
- https://github.com/all-contributors/all-contributors

Research if (I have no clue how this works)
- we can make it fully automated preferably
- if not, what kind of semi automation could we do?

[2021-08-09 15:10] tlylt opened #1648 "Upgrade `commander` version to improve code quality"
**Is your request related to a problem?**

Main trigger for raising this issue is the following comment found in `package/cli/index.js`:
[code]

After some exploration of the existing commander.js [documentation](https://www.npmjs.com/package/commander#automated-help), new functionalities have been added in recent versions (v7 or up) that allowed for things like customizing help messages, such as

[2021-08-09 17:11] ong6 commented on #1642
Hi, looks like removing the width in box-container fixes the issue, I will add fix to my PR at #1647.

[code]
![image](https://user-images.githubusercontent.com/19247856/128746246-7f2a589e-566b-42e6-bced-b788e975f28a.png)

[2021-08-10 12:37] wxwxwxwx9 commented on #1648
@tlylt Ahh I see, no worries!

Yup, this seems like the right direction to go towards. You can proceed with this issue :-)

[2021-08-10 16:30] ong6 commented on #1528
This issue seems to be fixed, maybe one of the devs can close it @damithc?

[2021-08-10 16:39] #1528 closed

[2021-08-11 01:54] ong6 commented on #1639
Hi after doing some light testing, it seems the fix for this is simply running `lerna add @primer/octicons packages/core` not sure if this is worth a individual PR? Should I add it to my PR at #1647 ?

[2021-08-11 07:39] wxwxwxwx9 commented on #1639
@ong6 Hi there! Thanks for taking a look at this.

I think it will be better if we create a new PR for this :-)

It will be more in line with the guideline set our here below.

https://se-education.org/guides/guidelines/PRs.html

[2021-08-11 10:00] ong6 commented on #1639
@wxwxwxwx9 Thanks for the clarification! Was not sure if a one line update warranted a PR XD

[2021-08-11 11:53] #1641 closed

[2021-08-15 03:32] #1031 closed

[2021-08-15 03:32] #1581 closed

[2021-08-15 03:32] #1642 closed

[2021-08-18 11:11] tlylt commented on #1571
Hi prof @damithc ,

I have done some preliminary testing and could not reproduce the error. Not sure if the issue has already been resolved.

---
Steps that I have taken:
- `markbind init testsite`
- `cd testsite`
- `markbind serve`
=> Works fine as `enableSearch : true` by default
- add `enableSearch : true` in `site.json`
=> Works fine
- change to `enableSearch : false` in `site.json`
=> search

[2021-08-18 11:35] tlylt commented on #416
Hello,

I tried running `npm run test` in `markbind/packages/cli` to check whether the built progress bar is shown correctly.
I'm using Windows 10 btw.
- cmd with Vscode: works
- bash within Vscode: works
- bash terminal: works
- cmd terminal (via windows terminal): works

Not sure if the issue has already been resolved. If the issue is related to the bug referenced in [the above comment](https://

[2021-08-19 04:27] ang-zeyu commented on #416
Thanks for investigating this! @tlylt Good to see it works on a whole bunch of terminals.

I'm still able to produce this via gitbash running on mintty 3.5, although strangely wsltty works fine.

In any case, I think this issue is a little out of our control. Rather maybe we could insert a one / 2 liner into the `gettingStarted` section in the documentation to recommend some terminals that are kno

[2021-08-19 09:39] riyadh-h commented on #900
Hello there!
Just checking if this issue has not been resolved yet.
Thank you.

[2021-08-19 09:56] #1648 closed

[2021-08-19 11:25] tlylt commented on #416
Hi @ang-zeyu, hmm I am not familiar with terminals or console stuff, but I could try to apply the patch as suggested by others facing similar issues and send up a PR for you to verify if that works for "gitbash on mintty 3.5". Do you think that will be ok?

Alternatively, I can add a note in the docs to warn users (perhaps as a footnote in the getting started section).
I think overall the user exp

[2021-08-19 12:58] ang-zeyu commented on #900
@riyadh-h its still open, we don't have a center align syntax yet

[2021-08-19 13:00] ang-zeyu commented on #416
👀

if its fixable, let's try that!

it should come packaged in the latest version from here:
https://git-scm.com/downloads

[2021-08-19 14:45] damithc commented on #1571
Thanks for the investigation @tlylt
It seems I can't reproduce it either. I guess it got fixed along the way, possibly as a side effect of another fix. Or I was mistaken in the first place.
Closing now. Will reopen if it happens again.

[2021-08-19 14:45] #1571 closed

[2021-08-20 01:43] tlylt commented on #416
Hi @ang-zeyu , could you help verify if it works with https://github.com/MarkBind/markbind/pull/1654 pls?
I am unable to reproduce the result even though I think I am using gitbash coming from git. I tried git-bash and git-cmd and both are fine **with or without** the fix:
![image](https://user-images.githubusercontent.com/41845017/130165762-9017dde3-dfcd-4e67-981b-a0ee9dc0660c.png)

[2021-08-20 05:28] riyadh-h commented on #900
@ang-zeyu Acknowledged. I will try to work on implementing such syntax 👍.
Thank you for your reply!

[2021-08-21 03:13] riyadh-h commented on #900
May I know what information (in terms of notes, credits, etc.) should we include as comments in a markdown-it plugin's source code when customizing it?

[2021-08-21 08:01] ang-zeyu commented on #416
@tlylt no dice, still no progress bar on your PR branch:

![ss](https://user-images.githubusercontent.com/3306138/130315111-8c995795-b365-4505-b463-dc88203ed495.png)

[2021-08-21 08:07] ang-zeyu commented on #416
Might be mistaken but the terminal in your screenshot dosen't seem like the default mintty that comes with the git installation as well (blue bar on top). Might be what's causing a false positive 🤔

[2021-08-21 11:08] tlylt commented on #416
Hi @ang-zeyu, thank you for your kind help in verifying the PR. I finally made some progress on this :)

For the false positive, it might be due to the fact that I did not choose the option with mintty when installing git (see screenshot below):
![image](https://user-images.githubusercontent.com/41845017/130319628-f63c6173-00eb-492d-b73b-3336350e2a55.png)

I did that because some tutorials that I

[2021-08-21 11:34] tlylt opened #1655 "Steps to take when updating dependencies"
Hi active devs,

I updated the commander.js version under `packages/cli` in a recent PR by updating the package.json (and correspondingly the package-lock.json) in `packages/cli`. Then today I was checking out one of my PR branch on another machine and decided to run `npm run setup` again to update all relevant dependencies. After running the `npm run setup` command, the main `package-lock.json` f

[2021-08-21 14:43] ang-zeyu commented on #1655
This part is indeed not well documented at the moment, I think we could:
- add the above instructions in (that's a valid approach (`edit package-lock -> re run npm run setup`))
- \+ maybe update the `lerna add` section, with [`--scope`](https://github.com/lerna/lerna/tree/main/core/filter-options) (I missed this out when writing that part), or just remove it entirely since there isn't a correspond

[2021-08-21 15:07] ang-zeyu commented on #900
@riyadh-h including the license notice in the file would do https://fossa.com/blog/open-source-licenses-101-mit-license/

[2021-08-22 01:52] riyadh-h opened #1656 "`init` and `serve` commands are throwing errors"
**Tell us about your environment**
I am using a Windows 10 machine and executing MarkBind's commands through the WSL terminal integrated into VSCode.

* **MarkBind Version:** v3.0.6

**What did you do? Please include the actual source code causing the issue.**
I tried creating a new MarkBind instance using the command `markbind init`.

I believe this statement from `packages/cli/index.js` (Lines 4

[2021-08-22 02:03] tlylt commented on #1656
Hi @riyadh-h , there is a dependency update that require you to change to a newer version of commander.js.
Could you run `npm run setup` in the root directory again to get all dependencies up to date?

[2021-08-22 02:40] riyadh-h commented on #1656
Hello @tlylt!

Ah, I see
I tried running `npm run setup`, but I got some permission issues from the system.
I'll try to get them fixed first 👍.

[2021-08-22 03:28] riyadh-h commented on #1656
Works perfectly now. Thank you for the help, @tlylt!

[2021-08-22 03:28] #1656 closed

[2021-08-23 10:36] riyadh-h commented on #1505
Just checking if this issue is still active. Thank you.

[2021-08-23 13:00] damithc commented on #1505
@riyadh-h feel free to give it a try

[2021-08-25 07:40] riyadh-h commented on #1505
So, I tried using these icons, and they don't seem to be aligned with any surrounding text:

![google-material-icons](https://user-images.githubusercontent.com/69278589/130746982-1d5bd67e-4041-44ef-be85-6be5bd0dfecc.png)

I assumed that the font size used for the icons was larger compared to the text's, so I tried resizing them to 18px.
However, this only worsened the render quality of the icons i

[2021-08-25 07:45] tlylt commented on #1505
Just curious... have you tried to align the icon via some CSS?

[2021-08-25 07:54] riyadh-h commented on #1505
@tlylt Not really, but now that you've mentioned it, I tried giving a `vertical-align` property that's set to `bottom`, and it looks perfect!

![google-material-icons-works](https://user-images.githubusercontent.com/69278589/130750190-afebb7a5-5c8f-4002-8c61-5ed5259a103b.png)

Cheers 😄

[2021-08-28 05:40] ang-zeyu commented on #1646
Hi @tlylt, thanks for checking it out.

Have you come across any fuss free options to make this fully automated? (e.g. generate from commit history during CI)

If not I think we can go with the bot, seems really easy to use.

[2021-08-29 08:23] ong6 commented on #1619
Hi, I have tried to replicate this issue but I cannot seem to reproduce or get any errors? Seems to be working fine on my end.

[2021-08-30 03:11] damithc commented on #1619
Thanks for checking @ong6
Did you try with the cs2103 website? It may have to do with the site itself.
Or it could be specific to my computer.

[2021-08-30 07:35] riyadh-h commented on #480
Checking if this issue is still active. Thank you.

[2021-08-30 07:39] damithc commented on #480
@riyadh-h It is still open, but I'm not sure if it worth doing. Depends of if asciinema is widely used these days. Comments welcome.

[2021-08-30 07:40] riyadh-h commented on #480
I see. Maybe we should set this issue aside for a while 👍

[2021-08-30 07:48] damithc opened #1660 "Support a way to visualize folder structures"
In technical documentations, often we need to describe a folder structure, to explain where to put certain files for example.
![image](https://user-images.githubusercontent.com/1673303/131304709-7d2c8fd2-80f0-426a-8539-4d5b783f23f2.png)

It is nice if we can provide a syntax that MarkBind can convert to a nice visual.
More generally, it can even be used to explain other types of tree-like structur

[2021-08-30 08:21] riyadh-h commented on #1289
Checking if this issue is still active. Thanks.

[2021-08-30 08:32] damithc commented on #1289
Yes, I think so.

[2021-08-30 08:41] riyadh-h commented on #1660
Hello there!

I agree, but I'm also not sure if the interactive features Treed provides are necessary (e.g., folder collapsing, keyboard navigation/shortcuts, etc.).
Perhaps we can try implementing the folder visualization tool without them?

[2021-08-30 09:02] damithc commented on #1660
Yes, I don't think we need the instructiveness. If there is a suitable third-partly library that we can plug in easily, it's fine to have such extra features. But if we are going to roll our own implementation, we can definitely go for a simple static visualization.

[2021-08-31 03:55] ong6 commented on #1619
@damithc Yep, I tried it and there were no errors for me. Perhaps the error is specific to your computer?

[2021-08-31 05:41] tlylt commented on #1646
Hi @ang-zeyu , may I know what kind of contributions recognition we are looking at?
`all-contributors` is more powerful and we get to assign the type of contributions to the person.
But, if we are mainly on displaying contributors who have committed to the codebase, I would say the `contributors-img` option I mentioned is quite fuss-free, so adding the following to our readme:
<a href="https://git

[2021-08-31 08:58] ang-zeyu commented on #1646
no objections on using all contributors, I think including the type of contributions looks nice too.

Was wondering more for workflow wise, whether we could do (and whether *its easy to do so* -- don't think we should be expending too much on this):
1. PR successfully merged
2. Github actions invokes some combination of these [commands](https://allcontributors.org/docs/en/cli/usage) + maybe more t

[2021-08-31 10:51] tlylt commented on #1646
I looked around a little bit to see if there is anyone working on similar ideas of automatically adding contributors via all-contributors.

TLDR:
Proposed actions:
1. Add all-contributors bot to the repo
2. Update the developer guide on 1. contributing section (prompt devs to self-comment and add themselves) 2. project management section (explain the steps to take and things to note)
3. (Optional?

[2021-08-31 13:33] ang-zeyu commented on #1646
Agreed, good point raised. Also worth mentioning that many repos dont automate this at all (require the contributor to add their name to a `.md` list on-PR), which seemed a little cumbersome to me. But I think the bot is a better compromise between the above concern and PR-convenience.

not really needed but are these the correct links? 👀

Let's go with this (including `3.`) 👍

For `1.`, I've just

[2021-08-31 13:35] ang-zeyu commented on #1646
PS: let's try to phrase this in a way that makes it optional for devs (maintainers will add it in if not), think we should try to make the pr process not-too-cumbersome for first timers.

[2021-08-31 13:38] tlylt commented on #1646
Opss the correct links are here: all-contributors/app#358, all-contributors/app#359

[2021-09-01 09:07] damithc commented on #1619
Seems like something specific to my local setup. This is when working on https://github.com/se-edu/guides
Failed the same way 3/3 times, but different errors:

![image](https://user-images.githubusercontent.com/1673303/131643984-5f872da1-9bfa-4c00-aea7-9d71d8674b4a.png)
![image](https://user-images.githubusercontent.com/1673303/131644295-2a7b68a9-1007-4acd-8232-85d1167a2bf2.png)

[2021-09-01 14:21] ong6 commented on #1619
Thanks for the screenshots @damithc I will look into this and see if I can replicate/ solve this issue

[2021-09-04 09:39] tlylt commented on #1646
Testing...
@all-contributors add @tlylt for code

[2021-09-04 15:13] ryoarmanda commented on #1619
Thanks for lending a hand @ong6 ! A while back I have written one possible cause on the trial PR (see #1632) but we're still unsure on whether that is what's happening on prof's side because we could not reproduce it. Feel free to investigate further :)

[2021-09-05 09:08] damithc opened #1663 "Support basic charts"
Suggestions: Provide support (likely through a third-party plugin) to add basic charts (e.g., bar/line/pie ... charts) using text sources (or csv files), similar to how we support basic UML diagrams.

[2021-09-06 00:00] riyadh-h opened #1664 "Use of optional chaining operator"
Hello there!

While writing some code for a plugin, I used JavaScript's optional chaining operator (`?.`) in a function like so:

![Function's code](https://user-images.githubusercontent.com/69278589/132133355-22c90844-9e44-499d-a6d7-a9034cc13a21.png)

However, when I ran `npm run test`, `eslint` flagged the `.` of the operator as an "unexpected token":

![Error message](https://user-images.github

[2021-09-06 00:54] tlylt commented on #1664
Hi @riyadh-h,

I did some preliminary checking and indeed optional chaining is flagged by Eslint.
Some further searching got me to [here](https://newbedev.com/eslint-optional-chaining-error-with-vscode), which points the culprit to our outdated Eslint version. When version 7.5 and above is installed, the above issue no longer appears.

But the following issue caused by the Eslint update will show

[2021-09-06 03:33] riyadh-h commented on #1664
Ah, so it is an ESLint issue.
I guess I'll try to update ESLint and fix any issues along the way then, so that the code (and future code, hopefully) can pass all the tests. 👍

Thank you so much for the help, @tlylt! 😄

[2021-09-07 12:00] ang-zeyu commented on #1664
@riyadh-h the project is following the release version / timelines [here](https://markbind.org/userGuide/gettingStarted.html#getting-started) [and here](https://nodejs.org/en/about/releases/), unfortunately `?.` hasn't reached the oldest version yet =X.

side note: you can also refer to the [compatibility table](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Operators/Optional_c

[2021-09-08 01:17] damithc commented on #897
Yes @tlylt

[2021-09-08 04:18] riyadh-h commented on #1664
Oh, I see. Thanks for the clarification, @ang-zeyu! 👍
And sorry for overlooking these requirements.

So, would it be fine to update ESLint (see PR #1665) but not use optional chaining in our code until that happens, or is it better to postpone updating ESLint in order to avoid `?.` slipping into MarkBind's code?

[2021-09-08 14:31] ang-zeyu commented on #1664
Np, sorry for the late input as well. :frowning_face:

As you've reasoned, let's postpone updating the configuration. I would guess by the time `.?` becomes a "not new-and-shiny feature" eslint itself would update its defaults to allow `?.` operators too.

[2021-09-08 14:39] #1646 closed

[2021-09-09 03:40] riyadh-h commented on #1664
No worries 👍
Okay, I'll close the PR for now; we can reopen it later if necessary.
Thanks for the feedback, @ang-zeyu! 😄

[2021-09-09 03:40] #1664 closed

[2021-09-12 07:28] damithc opened #1667 "deploy command declares success prematurely"
It seems `markbind deploy` command shows the `Deployed at ...` message before the actual deployment is completed?
The reason for my suspicion is that the console stays busy for a quite while after that message is displayed.

![image](https://user-images.githubusercontent.com/1673303/132977756-5435969e-c3fa-49b7-b1f1-40a4ada7b8f3.png)

[2021-09-12 15:52] #416 closed

[2021-09-16 05:20] tlylt commented on #897
Hi @damithc, I think supporting different types of horizontal lines should be doable.
- For `===`, it will be something like:
[code]
- Result:
![image](https://user-images.githubusercontent.com/41845017/133553241-b3e06010-7f9d-499a-ad2c-cb456e08d273.png)

As for the dotted line, I am not sure if using `...` as the marker is a good choice. This is because the following might be a reasonably common

[2021-09-16 05:31] damithc commented on #897
@tlylt I'm wondering if we should go for something like `=== ======` i.e., `symbol*3` `space` `symbol*1+`
1. less chance of being confused with other legit text
2. allows a more visual representation of the line in the source code itself i.e., it appears like a divider to both the author and the reader e.g.,

[code]

But I'm not sure if this complicates the implementation too much. What do others

[2021-09-17 01:02] tlylt commented on #897
For the current implementation of horizontal lines by Markdown-it(which follows the CommonMark spec), all following cases will result in a `<hr />` tag:
![image](https://user-images.githubusercontent.com/41845017/133706555-0980f9f5-ac2d-43ab-a19c-7f6cfcda0e69.png)

I feel that on top of implementation details, perhaps we should stick with the existing standard practices? So when a divider symbol i

[2021-09-17 02:26] damithc commented on #897
Sounds good.

Something like `---{.line-dotted}` `---{.line-dashed}` etc.?

There is a legit reason to use un-indented `...` in a line though, as an ellipsis.

[2021-09-17 04:51] tlylt commented on #897
`---{.line-dotted}` is a good option too.
Perhaps we can use `--- {.line-dotted}` with a space in between.
We can make use of the already supported syntax to add some convenient classes for styling the `<hr>` element. Then in this case there is no invention of new syntax, like the excerpt from the user guide:
![image](https://user-images.githubusercontent.com/41845017/133725686-7cafcc8f-ba2a-4371-

[2021-09-18 15:46] ang-zeyu commented on #897
I think reusing the `{.line-double}` syntax is the way to go (or similar - e.g. attributes `{double}` - no `.`). There might be some line types that can't be adequately conveyed by === / ... / etc symbols. There's may also be the issue of exhausting all these types of symbols too quickly.

How about loosing the `line-` prefix for a bit more convenience?

[code]

---

I think another concern is als

[2021-09-18 15:52] ang-zeyu commented on #980
Left with the "top nav (two rows)" portion to go

[2021-09-18 16:08] ang-zeyu opened #1669 "Polish the default & documentation styles"
Just a few areas in the default styles I noticed could use a little polish in general

- [ ] `<ol / ul / li>` indentation is too much at times, especially for mobile devices (relying on user agent stylesheet currently)
- [ ] `<box>` indentation / padding is a little wasteful on mobile devices
- [ ] margin below headings / paragraphs / tabs is a little small
- [ ] `indented` `<div>`s inside the doc

[2021-09-18 16:16] ang-zeyu opened #1670 "Load non critical resources last"
![Untitled2](https://user-images.githubusercontent.com/3306138/133895240-4823363b-d968-4495-891f-96a7466201ef.png)

A lot of these probably don't need to be loaded up front, it results in the "blank white screen" issue at times.

the page render function was introduced [here](https://github.com/MarkBind/markbind/pull/1512/files), and should be nicely "moveable" down below, as is `vue` and `markbin

[2021-09-18 16:18] damithc commented on #897
Sounds good. Any possibility of throwing in color options as well (using the bootstrap default colors `primary` `info` etc.)?

[2021-09-18 16:19] #1639 closed

[2021-09-18 16:30] ang-zeyu opened #1671 "Make .no-line-numbers the default"
My observation is that line numbers are really not useful in 90% of cases and add unnecessary distraction to the content.

Suggestions:
- make `.no-line-numbers` the default
- introduce `line-numbers` option
- show line-numbers when using `markbind serve` for development, allow forcefully hiding it with `.no-line-numbers` nevertheless
- introduce a `style.line-numbers` global config key of sorts t

[2021-09-18 16:45] ang-zeyu opened #1672 "Remove `.mbd / .mbdf`"
I probably don't have the relevant context but this has been bugging me for a very long time now anyway =X
What's the purpose of these extra extensions?

`.mbdf` is used to denote "fragment" but really other than that, it dosen't provide any concrete value. My opinion thus is that file organisation / hierarchy here is a responsibility that should be left to the user. There are already many cases w

[2021-09-18 16:56] damithc commented on #1672
Context:
* `.md` is already used by Markdown, and ours is not strictly Markdown. We thought it's good to allow another extension in case an author wants to distinguish between the two (also, to avoid being accused of hijacking someone else's extension) while still allowing the use of `.md`.
* `.mbdf` is useful to easily exclude fragments from page generation e.g.,

[code]

[2021-09-18 17:04] jonahtanjz commented on #980
Went to check out some of the static site generators and documentation pages to see what others are doing and it seems they mostly either have 2 rows, floating button or combining the site nav with their menu.

**AWS/Google Cloud docs sites (2 rows, similar to our current design):**

![image](https://user-images.githubusercontent.com/47470981/133896240-23a66b4a-8692-46eb-98e5-eb03a26f159d.png)
<hr

[2021-09-18 17:06] ang-zeyu commented on #1672
That makes sense.

How about

[code]

?
This was introduced more recently with https://github.com/MarkBind/markbind/pull/1328

We can leave the definition of fragments to the user for more flexibility; or it can be defined on folder basis as well.

Is this for `.mbd`?

[2021-09-18 17:10] damithc commented on #1672
yes, that can work too. We can tweak the default site.json to exclude `*.mbdf` so that the author has an example to follow.

Yup.

[2021-09-18 17:31] ang-zeyu commented on #1672
I think this is fine if that's the case; A lot of the other ssgs out there don't have custom file extensions as well. I feel that familiarity (and default syntax highlighting) should take priority here.

I see, I might imagine someone might need to process canonical `.md` files differently inside a project at some time, but even then, there should probably be some very easy alternative for such a

[2021-09-18 17:40] damithc commented on #1672
I almost never use `.mbd` (but I use `mbdf` sometimes). No objections to removing both if it helps.

[2021-09-20 08:07] ang-zeyu commented on #980
@jonahtanjz thanks for collating these. I think those look about right.

Is the intention to support multiple layouts apart from the one in the OP above?

(assuming yes)
I think supporting the "sidebar" popup as well would be good. Bootstrap vue has a [ready made](https://bootstrap-vue.org/docs/components/sidebar) one we could probably integrate easily.

The FAB option is also something we can exp

[2021-09-20 08:10] ang-zeyu commented on #1672
👍

Let's do that then if there's no objections; But we can slate this for v4 in a few more months time since its a breaking change

[2021-09-20 09:38] jonahtanjz commented on #980
@ang-zeyu Thought you wanted a redesign of the current navbar by shifting the lower navbar buttons (site and page nav) to somewhere else to reduce the size of the navbar on mobile 😂😂 I guess we can consider exploring that as possible alternative layouts.

If I understood "top nav (two rows)" right, it means creating another row for the top nav menu items and remove the current accordion entirely?

[2021-09-20 09:52] ang-zeyu commented on #980
Ohh 😂 The issue title change might have been misleading, my bad. Changed it because this issue entails redesigning the entire navbar.

I think this dealt with what you've proposed and implemented here sufficiently https://github.com/MarkBind/markbind/issues/980#issuecomment-775935220.

yup. for easier accessbility + make `slot="right"` actually place things on the right.

[2021-09-22 15:16] ong6 commented on #1667
I've experienced this issue as well. Might be something to do with the async functions in index.js of cli. I will spend some time trying to fix this issue and report back.

[2021-09-27 05:16] tlylt opened #1673 "Unable to unlink the package"
**Tell us about your environment**
Windows

* **MarkBind Version:**
from master branch

**What did you do? Please include the actual source code causing the issue.**
Following the setting up guide, I should be able to bind my cloned repo by running `npm link` in the `packages/cli` folder (Works). However, I am unable to go back to the release version of Markbind by running `npm unlink`
Docs:
![ima

[2021-09-28 09:14] ang-zeyu commented on #1673
hmm try `npm uninstall -g markbind-cli` (or just omitting `npm unlink` entirely), `npm install -g` might be able to override the symbolic links from `npm link` directly.

[2021-09-28 09:32] damithc commented on #1673
@tlylt after this issue is resolved, please create an issue for updating the relevant DG instructions accordingly, if applicable.

[2021-09-29 05:59] tlylt opened #1676 "Unable to add multiple class names to hr element"
**Tell us about your environment**
Windows 10
* **MarkBind Version:**
3.0.6
**What did you do? Please include the actual source code causing the issue.**
According to the User Guide:
![image](https://user-images.githubusercontent.com/41845017/135210883-352b16f5-8a6a-4bc4-b053-4b6b95752f3d.png)

I should be able to add multiple class names to the block-level element HR
![image](https://user-images.

[2021-09-29 09:24] HCY123902 opened #1677 "Query about site deployment"
I am currently attempting to deploy RepoSense documentation to the github organization base URL, which is `https://reposense.org/`. However, when `baseURL` in `site.json` is set to empty, it seems that `markbind deploy` will still deploy the site to the link with the default repository, which is  `https://reposense.org/RepoSense`.

![image](https://user-images.githubusercontent.com/54735123/135241

[2021-10-01 03:09] damithc commented on #1677
Probably not related to MarkBind. Will followup with @HCY123902 and reopen if related to MarkBind.

[2021-10-01 03:09] #1677 closed

[2021-10-05 01:54] #1640 closed

[2021-10-06 05:47] tlylt opened #1678 "*text eol=lf results in unexpected changes to plantuml.jar"
**Tell us about your environment**

* **MarkBind Version:**
latest master branch

**What did you do? Please include the actual source code causing the issue.**
There was an issue with my development branch and I removed and re-cloned the repo. After cloning the repo to local, it appears that `plantuml.jar` is marked for file changes.
![image](https://user-images.githubusercontent.com/41845017/1361

[2021-10-07 14:12] ong6 opened #1680 "deploy command link does not work due to the `!` at the back."
**Tell us about your environment**
Windows 10

* **MarkBind Version:**
Lastest

**What did you do? Please include the actual source code causing the issue.**
run `markbind deploy`

**What did you expect to happen?**
The link should be clickable and lead to correct URL

**What actually happened? Please include the actual, raw output.**
The link does not work due to `!` at the back.
![image](https:/

[2021-10-08 13:09] ong6 commented on #1507
@damithc can I clarify if this is the issue that you are facing?
![StaleReload](https://user-images.githubusercontent.com/19247856/136562270-c0aa396d-aa79-470f-8526-1f1ed4295193.gif)

Or is it something else? I have not seen the page refresh automatically on the `markbind serve` command.

[2021-10-09 12:20] ong6 commented on #1680
Closed with PR #1679

[2021-10-09 12:20] #1680 closed, assigned to nobody

[2021-10-11 13:21] ong6 opened #1682 "Flags in `markbind serve` does not seem to work. Specifically `-f` and `-d`"
**Tell us about your environment**
Windows 10
VScode

**MarkBind Version:**
Latest version

**What did you do? Please include the actual source code causing the issue.**
- Create a test template
- Run `markbind serve -d` to run the markbind server locally.
- Edit the markbind template and save the file.

Repeat and test for the `-f` flag.

**What did you expect to happen?**
Expected the website to

[2021-10-16 03:50] riyadh-h commented on #1617
I believe you're right, @ang-zeyu. I tried using `execSync` instead of `exec` for the PlantUML command execution call and the issue doesn't seem to occur anymore.

However, (re)building the pages takes more time now (average of 1.2 seconds for `execSync` compared to an average of 0.2 seconds for `exec`). I'm not sure if this difference would be significant in some websites that use MarkBind.

[2021-10-16 14:38] ong6 commented on #1667
@damithc Hi, please help me close this issue as I forgot to tag this issue as 'To close' in my PR. Sorry for the inconvenience!

[2021-10-16 15:10] #1667 closed

[2021-10-31 07:21] riyadh-h commented on #1669
Hello again!
Here are the results of my attempts (note: mixed images are just to highlight the difference between before and after):

[Before](https://user-images.githubusercontent.com/69278589/139568124-9efb541b-62ef-46ce-84ef-6c2c09fa6e45.jpg) | [After](https://user-images.githubusercontent.com/69278589/139568162-5a47bedd-da80-400d-abf9-746179d5be68.jpg) | [Mixed](https://user-images.githubuserc

[2021-10-31 11:42] tlylt commented on #1678
Hi @ang-zeyu, thank you for the response. I agree that we can follow that example and explicitly mark them as binary files (PR submitted to address this https://github.com/MarkBind/markbind/pull/1683).

I have a work-in-progress branch that is close to finishing but was stuck because of this issue. Initially, I thought I was unable to switch branches because the plantUML.jar change that is detecte

[2021-10-31 14:20] ang-zeyu commented on #1669
Looks good to me generally 👍 Thanks for the screenshots as well.

👀 [tabs](https://github.com/MarkBind/markbind/blob/master/packages/vue-components/src/Tabset.vue) shouldn't have any margin right now, you can try it out by placing some text under the tabs [here](https://markbind.org/userGuide/usingComponents.html#tabs).

As for paragraphs, agree its a little subjective on second look. If it looks

[2021-10-31 14:25] #1678 closed

[2021-11-01 03:30] riyadh-h commented on #1669
@ang-zeyu Np, and thanks for the feedback!

Huh, I thought [this margin that's set to `.nav-tab`](https://github.com/MarkBind/markbind/blob/00dd09104fd80d7a9839181f97bd650462ff2028/packages/vue-components/src/Tabset.vue#L105-L107) is supposed to be the one for tabs, not sure if I'm correct or not 😅

Okay 👍
I copied a few *Lorem ipsum* paragraphs into a page, and [this was the result](https://user-

[2021-11-01 16:30] ang-zeyu commented on #1669
ok just got the confusion 🤣:

- That's for the area between the tab's contents and headers (I think you are referring to this, agree this is fine as well)
- Below the tab's contents and headers (0 margin currently)

This looks good!

I'll have to look at the PR to figure out, but it looks ok based on your earlier screenshot as well.

It should go in `core-web/src/styles/markbind.css` which contain

[2021-11-02 00:41] riyadh-h commented on #1669
Ah, I get it now 😂
Okay, so I tried to experiment with different values for the bottom margin, and I think `1.5rem` looks good. It's larger than the margins of paragraphs so that the readers wouldn't confuse the tab contents with subsequent paragraphs:

[Before](https://user-images.githubusercontent.com/69278589/139757868-4fe8b478-9d87-4dfc-92a7-61d33aafae7c.png) | [After](https://user-images.gith

[2021-11-02 04:00] damithc commented on #1669
I prefer to use some sort of border at the bottom rather than a bg color to distinguish tab contents. Content in tabs are meant to be alternative threads of the flow of content. Whichever the tab is selected, the content should blend into the main flow. So, it makes sense to mark the start and end the alternative content in a subtle way, for which borders are a better fit than bg colors (the latte

[2021-11-02 10:14] riyadh-h commented on #1669
Ah, I see.
Thanks for the input, @damithc 👍

May I check if the suggested bottom margin in [my previous post](https://github.com/MarkBind/markbind/issues/1669#issuecomment-957002416) is in line with this purpose?

[2021-11-02 13:41] damithc commented on #1669
Yes, I'm OK with that one.

[2021-11-04 08:59] riyadh-h commented on #1670
Hi there!

Can I get some steps on how to reproduce this issue, please?

[2021-11-04 10:15] ang-zeyu commented on #1670
@riyadh-h anything to slow your network speed (+ disable cache) would do.

the chrome inspector has a convenient option:
![inspector](https://user-images.githubusercontent.com/3306138/140296430-d57eb331-8125-47ee-b23d-324d33e5e10d.png)

[2021-11-04 10:26] #1669 closed

[2021-11-04 10:39] ang-zeyu commented on #1670
Another more intrusive (but performant) implementation we can also explore is using the [defer](https://developer.mozilla.org/en-US/docs/Web/HTML/Element/script) (and maybe async) attribute for script tags.

The execution order is a little more difficult to reason with (we'll likely have to look into adding `defer` into all of our scripts (plugin / external / layout scripts)).

We can of course go

[2021-11-05 09:39] riyadh-h commented on #1670
Thanks for the instructions!
It seems that this issue stays on for a while before a page loads with these settings.

I timed the loading process of new projects' default landing page three times before and after moving the `script` tags to the bottom:
* When the scripts were at the top, the page took 16.32s on average to display the page's contents (27.80s on average to fully load).
* When the scr

[2021-11-09 10:18] riyadh-h commented on #1670
Ah, I see. No worries 😄

I'll need to check the code and run a few tests again, but I'm hypothesizing that some jQuery stuff that modify the styling of some elements isn't run until the jQuery `script` is loaded.

Sure, I'll get one up soon 👍
The reproduction instructions will be included with the PR once it's created.

[2021-11-28 06:46] damithc opened #1688 "Improve popover location when the trigger spans multiple lines"
Current: When a trigger spans multiple lines, the popover appears in the middle, which might not be appropriate in some cases. Here's an example:
![image](https://user-images.githubusercontent.com/1673303/143732523-e8bd7875-2608-4728-96d7-45634044ce50.png)

[2021-12-06 17:29] ang-zeyu commented on #1457
Sorry for the late input @jonahtanjz @seanjyjy

The merged version definitely seems like a considerable improvement over the image based one.

Reopening this as I think we could improve it further by:
- using svg `<text>` primitives (notice some curves on the text are a little "gritty")
- inlining the logo using a `{{ ... }}` variable to render the svg immediately on page load (still a very, very,

[2021-12-09 07:00] seanjyjy commented on #1457
@ang-zeyu Thanks for the suggestion. Currently, I am using AdobeXD to svg-ify the logo and using rectangles/circles to ensure better curves on the letters. Do you have a suggestion on how to better improve on it? Kind of limited in the tools that I have.

[2021-12-10 04:08] ang-zeyu commented on #1457
@seanjyjy was experimenting with something like [this](https://editor.method.ac/) in the past, which generates / uses svg primitives like `<rect>`s.

I've never used AdobeXD as well,  there might also be a way to generate these primitives there 😃.

This should be doable using [`<text>` primitives](https://developer.mozilla.org/en-US/docs/Web/SVG/Element/text) (no need to "draw" out the words).

[2021-12-10 04:58] ang-zeyu commented on #205
I've just published an almost year long project originally motivated by this issue:
- https://github.com/ang-zeyu/morsels
- https://ang-zeyu.github.io/morsels/

It consists of a cli file indexer (integratable by copying the binary similar to what we do for `plantuml.jar`), a search library powered by wasm (rust), and search ui (typescript).

It deals with the issue in 2 aspects:
- Scalability

  I

[2021-12-10 05:02] ang-zeyu commented on #1421
@wxwxwxwx9 @jonahtanjz @raysonkoh @ryoarmanda If anyone wants to tackle this issue in the upcoming semester, do drop a note here. Would advise to start now as well as its a massive change that will conflict with other PRs! (would be much smoother to iterate on it now)

[2021-12-10 05:07] damithc commented on #205
Nice work @ang-zeyu Let's aim to integrate it to MarkBind in due course.

[2021-12-18 07:07] #1549 closed

[2021-12-18 12:45] FergusMok commented on #1638
The problem may be browser-specific.
Using Firefox and running the master branch for markbind, I don't encounter any issue.

However, currently on Chrome, the scroll spy is unable to work on most pages, and the temporary fix with 'topic:' has no effect either.

[2021-12-18 14:06] damithc commented on #1615
Based on https://github.com/se-edu/se-book/issues/112, this may be caused by popover elements in the page.

[2021-12-19 07:42] #1634 closed

[2021-12-22 16:12] aaronsms commented on #1682
The issue here is that a simple string check is used in live server module, thus */ == */index.html equality checks fail.

[2021-12-23 07:08] ang-zeyu opened #1697 "Seamless panels should inherit all colours"
**Is your request related to a problem?**

Note the seamless panel standing out in a not-so-good way:

![seamless](https://user-images.githubusercontent.com/3306138/147201319-a3d76993-522b-4355-a4e2-3f0f5d67e52c.png)

This seems like an intentional design decision, as far back as 2019 at least:

https://github.com/MarkBind/vue-strap/blob/c61d132f8bf7e97e7fe7db3452ddb7dfcdc2ced4/src/Panel.vue#L189

[2021-12-23 08:19] ang-zeyu commented on #1688
The suggested solution (`white-space: nowrap;`) is mentioned in the bootstrap vue documentation https://bootstrap-vue.org/docs/components/popover

The downside is that specifying this property will forcibly wrap the entire `uml-user-guide` onto one line, which may not be too bad in this case.

more of an issue if `uml-user-guide` becomes really long (or worse exceeds the width of the container, in

[2021-12-23 14:56] ryoarmanda commented on #1682
Good catch, thanks for the analysis, @ong6! I made that live-server patch a short while ago, if I may add more to it:

The reason of this oversight is that in cli/index.js, there is a MarkBind-side pre-processing step that modifies request url from `*/` to `*/index.html` before it finds its way to the live-server patch, so the patch worked on this as pre-condition. Turns out, this step is only don

[2021-12-26 07:53] damithc commented on #1615
I experimented with `admin/tp-constraints.md` file and found that the problem goes away if I remove all `<tooltip>` elements from the page.

[2021-12-27 06:47] #980 closed

[2021-12-27 08:30] #1599 closed

[2021-12-27 12:09] ang-zeyu commented on #1615
Confirmed this while working on #1698 as well.

A git bisect reveals the causing PR is indeed the SSR one #1534.

For anyone interested, what I've found so far:
- there are no hydration warnings for this issue. (verified with some console logs too)
- attaching a `MutationObserver` confirms this as well, and it reveals that the `site-nav-dropdown-container-open` is somehow explicitly removed after

[2021-12-27 12:10] ang-zeyu commented on #1615
Simple reproduction:
- go to a using components page with a popover / tooltip used
- Remove  `:expanded:` from `layouts/userGuide.md` (line 16 or so)

[2021-12-28 04:32] jonahtanjz opened #1699 "Navbar overflows when there is a long list of items"
* **MarkBind Version:**
3.0.6

**What did you do? Please include the actual source code causing the issue.**
When a navbar contains many nav links or have a long list of content, the navbar will overflow and the overflowed items will be hidden.

Reference: https://github.com/MarkBind/markbind/pull/1690#discussion_r771133015

**What did you expect to happen?**
Should make each section scrollable if

[2021-12-28 04:32] jonahtanjz commented on #1699
Related to #1429

[2021-12-28 16:15] tlylt commented on #1663
Related:
- #984
- #1079

I did a brief search and it seems like having an integration with [mermaid](https://mermaid-js.github.io/mermaid/#/) would be nice (Gitlab has [native support](https://docs.gitlab.com/ee/user/markdown.html#mermaid) for mermaid.js syntax). It supports pie chart, among other things.

Also, it seems like we were trying to integrate it (in #1079 @crphang will you be continuing

[2021-12-28 16:27] damithc commented on #1663
Thanks for looking into this @tlylt
I don't mind supporting mermaid. My concern is that it has a large overlap with plantUML that we already support. The only extra thing I could spot was the pie chart. Still, we can support it if the cost is not too high.

A higher priority for me is to add support for more _charts_ such as pie, line, bar, histogram etc.

Unlikely, as he hasn't been active for qu

[2021-12-28 23:30] tlylt commented on #1688
I discovered pretty much the same thing and dropped an [issue](https://github.com/bootstrap-vue/bootstrap-vue/issues/6854) in bootstrap-vue's repo about a month ago...wasn't able to get any reply 😅. We could possibly wait for any update from bootstrap-vue side since in this [issue](https://github.com/bootstrap-vue/bootstrap-vue/issues/6872) they announced that they have new maintainers onboard (th

[2021-12-29 04:39] tlylt commented on #1663
For supporting basic charts, I am thinking we can support multiple javascript charting libraries like [chart.js](https://www.chartjs.org/), in the same fashion as this [markdown-it plugin](https://github.com/chuyun/markdown-it-charts):
1. within the markdown, write the data as json in a code block (language info is the chart library name):
[code]
2. transform it into the respective HTML code
3. in

[2021-12-29 04:47] crphang commented on #1663
@tlylt I will not be working on it. Go ahead :muscle: !

[2021-12-29 06:49] ang-zeyu commented on #1688
Agree, this could work as an interim fix.
The downside though is that we lose the arrow in "correct" cases. Wdyt @damithc @tlylt

One (I think **hacky, inadvisable**, but worth mentioning) way to do this on our side is to place 2 invisible pseudo triggers to the left and right of inline elements, then create a wrapper popover (none yet) / tooltip (none yet) / trigger(already one) component to orch

[2021-12-29 07:51] ang-zeyu commented on #1663
1. The primary thing to keep in mind with this and #984 is author usability.

A lot of these external libraries require that you provide options as a json configuration object, from my *very brief scan* of chart.js this seems to be the case as well.
This flexibility is great for general app development but may be a little clunky for markbind. (versus something like inline puml where we can assume

[2022-01-02 08:33] damithc commented on #1663
Fully agree. We can start with this kind of support first and add more user-friendly syntax for more common chart types later.
i.e., it's in line with the principle 'make common things _easy_, make rare things _possible_'

[2022-01-04 09:44] damithc commented on #1688
How about placing the popover at the _end_ of the host text (rather than the _middle_) ? Would that work? The rationale is that one reads the popup _after_ reading the host text which means the reader's eye is already at the end of the text.

[2022-01-06 04:21] #1682 closed

[2022-01-08 09:13] damithc opened #1702 "Bootstrap 5"
Looks like Bootstrap has moved to v5

Some new things I noticed in passing: built-in support for icons, themes

[2022-01-10 02:19] tlylt opened #1703 "Deployment breaks due to faulty version of colors.js"
**Tell us about your environment**
Windows
* **MarkBind Version:**
Possibly most versions of Markbind are affected when installing dependencies either locally or in CI

**What did you do? Please include the actual source code causing the issue.**
When running an update in this [commit](https://github.com/nus-cs3281/2022/actions/runs/1675413202) to the CS3218 Website, the action failed to complete.

[2022-01-10 05:55] NicolasCwy opened #1704 "Installation error: Markbind command shows long text instead of ASCII"
**Tell us about your environment**

* **MarkBind Version:**3.0.6
* Node: v16.4.0
* NPM: 7.18.1

**What did you do? Please include the actual source code causing the issue.**
Ran `markbind` in a random folder
Tried `markbind serve` in root folder of project containing site.json

**What did you expect to happen?**
Markbind ASCII to be shown

**Steps tried**
- `npm install -g markbind-cl`
- Uninstall

[2022-01-10 06:01] jonahtanjz commented on #1703
Thanks for looking into this @tlylt 👍

To fix the issue temporarily, we could possibly use https://www.npmjs.com/package/npm-force-resolution
Or, should we wait for live-server to update?

Since this breaks deployment and it's quite urgent, I guess we can try pinning colors.js in live-server to 1.4.0 temporarily first and then revert back once live-server has merged their PR as this might take a w

[2022-01-10 06:02] damithc commented on #1704
I think this is likely the culprit :-p https://www.theverge.com/2022/1/9/22874949/developer-corrupts-open-source-libraries-projects-affected

Same as #1703

[2022-01-10 06:25] damithc commented on #1703
Yes, if it breaks deployments, we need to fix it ASAP.

[2022-01-10 06:34] NicolasCwy commented on #1704
Ah I see, will leave the issue open in case someone searches for the same problem

[2022-01-10 07:35] ang-zeyu commented on #1703
Looking at package-lock there are 3 higher level dependencies, relying on various versions of `colors`:
- live-server `latest`
- winston `1.0.3`
  - relies on logform `^1.2.1`

@jonahtanjz @tlylt  let's try adding `colors: "1.4.0"` as a direct dependency of markbind-cli and doing a release, it may be able to supercede the above 3 versions.

The fix in #1705 may not work in our case as `package-loc

[2022-01-10 07:45] ang-zeyu commented on #1703
If that fails (or as a longer term fix), we can try moving the entire live-server implementation over (https://github.com/tapio/live-server) which should be fairly quick since we've already patched the single file @ryoarmanda.

(then transfering its dependencies as appropriate)

[2022-01-10 08:04] #1703 closed

[2022-01-10 08:04] #1704 closed

[2022-01-12 15:29] #1124 closed

[2022-01-12 16:15] tlylt opened #1707 "Creating vs forking vs duplicating markdown-it plugins"
Hi guys,

I am working on a version update for the markdown-it package and am curious what were the thoughts behind our approach in maintaining markdown-it packages. At the moment, it seems like there are three types of markdown-it plugins:
1. plugins that we use as-is, and shown in package.json
  - e.g. markdown-it-task-lists
2. plugins that we have modified/patched slightly, also shown in packag

[2022-01-12 16:40] tlylt commented on #1485
The current highlight looks quite subtle now with the text-white:
![image](https://user-images.githubusercontent.com/41845017/149182321-9949f849-e6ea-4678-99ea-5089b161847c.png)
This is what it will look like if we do text-white plus border-bottom:
![image](https://user-images.githubusercontent.com/41845017/149182272-80087626-eff0-41c2-ad06-70323766b385.png)
Or just border-bottom:
![image](https:/

[2022-01-12 16:44] damithc commented on #1485
I like this one. But I'm OK to keep the current status too.

[2022-01-13 04:45] ong6 opened #1710 "Some images in User Guide not working"
**Tell us about your environment**

Viewing from Google Chrome

* **MarkBind Version:**
N/A

**What did you do? Please include the actual source code causing the issue.**

Was reading more about plugins when i noticed that the sample images when plugins are added are all not present.

Example image from [using plugins page](https://markbind.org/userGuide/usingPlugins.html):
![image](https://user-i

[2022-01-13 05:05] tlylt commented on #1710
Can confirm this behavior.
When checking out the image files that the broken images are referring to, it seems like the images themselves are broken:
![image](https://user-images.githubusercontent.com/41845017/149268947-a0038751-7421-4660-8724-9524e7fa8cb4.png)

It seems like the problem is introduced in this [commit](
https://github.com/MarkBind/markbind/commit/14923efab89ba40a2dd3e84af85325fea0f

[2022-01-13 15:47] tlylt commented on #1671
Looking through the initial conversations for this feature at PR: #991, it seems like prof Damith requested the line number version [to be the default](https://github.com/MarkBind/markbind/pull/991#issuecomment-576480521).

I suppose in an educational/instructional context, line numbers are helpful when referring to specific details of a code block. I can recall one occasion when the line numbers

[2022-01-14 04:48] jonahtanjz commented on #1707
Hi @tlylt,

I believed we used to fork some of the packages and maintain them separately such as [htmlparser2](https://github.com/MarkBind/htmlparser2) and [vue-strap](https://github.com/MarkBind/vue-strap) but decided to shift all of them to one repository at some point. I think this was to make it easier to maintain and track? Not entirely familiar with this as it happened quite some time ago, p

[2022-01-14 07:19] #1710 closed

[2022-01-14 12:38] ang-zeyu commented on #502
closing per #1672

[2022-01-14 12:38] #502 closed

[2022-01-14 12:41] ang-zeyu opened #1712 "e2e testing for live reload"
Some examples:
- the `-f` option should reload the page on any file change
- the `-o` option should not trigger a page build or reload the page if the file change is not a dependency of the pages being viewed

We can explore puppeteer and the like for this.
jest-puppeteer provides some useful convenience wrappers for using puppeteer with jest as well

[2022-01-14 12:44] ang-zeyu opened #1713 "Automated release changelog"
Filler issue for project board sticking.

Ups for research / discussion 😀

[2022-01-14 12:49] ang-zeyu commented on #1247
closed with #1224

[2022-01-14 12:49] #1247 closed

[2022-01-14 12:51] ang-zeyu commented on #1712
duplicate of #1544 🙈

[2022-01-14 12:51] #1712 closed

[2022-01-14 13:07] ang-zeyu commented on #1504
For context:  V3 has deprecated these attributes on the changelog front but the implementation remains.

We should remove the implementation completely for V4

[2022-01-14 13:17] ang-zeyu opened #1714 "Consider adopting a positioning library for dropdown / related components"
Frontend positioning is generally difficult and may be better left to well established libraries with more robust functionalities (e.g. dynamic flipping of floating elements).
This may help reduce lower level concerns and allow us to extend the components' functionalities more easily.

e.g.
https://floating-ui.com/ (formerly popperjs)

[2022-01-14 13:21] ang-zeyu opened #1715 "More (and Structured) Logging in General"
Moving the old and no longer applicable #133 over here

More examples (mostly `info` / `debug` level ones):
- When a plugin is used / registered / detected
- A page is built
- likely many more!

Also from #133:

[2022-01-14 13:22] ang-zeyu commented on #133
Closing this issue as the lower level details are unapplicable at this point, moved to #1715

[2022-01-14 13:22] #133 closed

[2022-01-14 13:25] ang-zeyu opened #1716 "Vue 3 migration"
Nice to have for v4.

*May* be a little too large to achieve by then, but good to keep in view

[2022-01-14 13:27] ang-zeyu commented on #1702
Similar to #1716. Can be worked on incrementally.

[2022-01-14 13:33] ang-zeyu commented on #1386
Remaining:
- appveyor
- docs deployment (see travis.yml)

[2022-01-14 13:35] ang-zeyu commented on #915
closing this until reproducible realiably; might also have been fixed somewhere along the way / or a browser / server issue

[2022-01-14 13:35] #915 closed

[2022-01-14 13:38] ang-zeyu commented on #782
This and #903 are mutually exclusive.

Closing in favour of #903, as bootswatch themes have been so far rather unmaintainable (too many added `position/borders/margins/...` what not's to take into account other than just *colors*)

[2022-01-14 13:38] #782 closed

[2022-01-14 13:42] tlylt commented on #1544
Will Cypress be a good option to explore, in addition to Puppeteer? I have previously used Cypress for frontend testing and it is getting very popular in recent times.

I am a bit confused as to how to test a live-reload functionality. Do you have any rough idea as to how it can be implemented?
It seems to me that we need to perhaps:
- start running the server and serve the page on a browser
- sta

[2022-01-14 13:54] tlylt commented on #1713
If I may chip in 😅

I recently explored using [semantic-release](https://github.com/semantic-release/semantic-release) with [commitizen](https://github.com/commitizen/cz-cli), as shared in a [course](https://egghead.io/lessons/javascript-automating-releases-with-semantic-release) by Kent C. Dodds and found the releasing workflow to be very manageable (together with the use of github action to auto

[2022-01-14 14:01] #1676 closed

[2022-01-14 14:27] ang-zeyu commented on #1713
Sounds interesting! I would be ok with imposing the conventional commits spec here as well since its rather well known.

Wonder if there's a lighter weight package / option inside to generate just the changelog, I think we would want to stick with one tool for managing packages / dependencies in general

[2022-01-14 15:25] ang-zeyu commented on #1544
My primary concern with cypress would just be cost; There's an open source plan but it I'd rather go for something free from the offset.
Puppeteer is also maintained by the chrome devtools team so we should be in good hands here =P

There's also the lesser issue of cypress startup being much [longer](https://blog.checklyhq.com/cypress-vs-selenium-vs-playwright-vs-puppeteer-speed-comparison/#scenar

[2022-01-14 15:45] tlylt commented on #1544
I see. If I'm not wrong, we can use Cypress with its test runner and do away with the dashboard service as that is the paid part and quite secondary. Some ref [here](https://docs.cypress.io/faq/questions/dashboard-faq#How-is-this-different-than-CI) and [here](https://docs.cypress.io/faq/questions/dashboard-faq#Can-I-choose-not-to-use-the-Dashboard). I think the test case stats can still be collect

[2022-01-15 04:39] tlylt commented on #654
Hello, I think this issue has been resolved in #1338, perhaps it was not closed automatically by that PR as the description did not use the 'fixes xxx' syntax.

[2022-01-15 04:55] tlylt opened #1717 "Allow a way to ping active-devs for comments on issues/PRs"
**Is your request related to a problem?**
Related to dev experience.

I think because of permission settings, myself and other new devs are unable to ping/tag active developers/maintainers, which is possible as seen:
![image](https://user-images.githubusercontent.com/41845017/149609363-0ee09e80-1403-4fc6-8794-ac85f9a4b46c.png)

If I were to write it, it looks like this (not tagging):
![image](http

[2022-01-15 05:19] jonahtanjz commented on #1717
I believe this is because the teams in Markbind organization is not set to public so only members within the organization can tag/mention teams. I think this can be solved once you all are added to the organization. Perhaps Prof @damithc or @ang-zeyu can assist in this as I do not have the permission to add new members.

[2022-01-15 05:25] jonahtanjz commented on #654
Yup this has been resolved. Thanks for checking on this @tlylt 👍

[2022-01-15 05:25] #654 closed

[2022-01-15 05:44] damithc commented on #1717
Invite all four to the org @kaixin-hc @jovyntls @tlylt @ong6

[2022-01-15 10:23] #1717 closed

[2022-01-15 10:42] tlylt opened #1720 "Page Navigation Menus not working with titles that contain `{{ content }}`"
**Tell us about your environment**
Windows
* **MarkBind Version:**
v.3.1.0
**What did you do? Please include the actual source code causing the issue.**
While working on PR #1719, I decided to turn on the page nav menus for the tips and tricks page and it resulted in the following screenshot:
![image](https://user-images.githubusercontent.com/41845017/149618713-b8120b1c-616e-41d8-9d3e-279821887ae3

[2022-01-15 13:05] ang-zeyu commented on #1707
Tldr I don't have a clear conclusion on this unfortunately, I think its very much a case-by-case basis for each. 🙁

### On fork vs patch

htmlparser2 was moved over to ensure cheerio uses receives our patched updates (see https://github.com/MarkBind/markbind/pull/606)

I suppose one reason we would want to maintain a patch as such is to ensure the changes propagate to other dependencies.

Agreed o

[2022-01-15 13:13] ang-zeyu commented on #1707
As a separate npm package?
I think it would definitely be great if someone takes up the task of *maintaining it externally* (also depends if there is a demand for such plugins).
But otherwise, I'm not sure if there are any other benefits since markdown-it's plugin system is quite robust

Same as the first point, I think its very much a case-by-case basis for each. 🙁

[2022-01-15 13:18] ang-zeyu commented on #1707
More generally on this, I think it would definitely be great to briefly list in the dev guide:
- all the patches we have currently
- general points for consideration
   - ultimately still assessed on a case-by-case basis

[2022-01-15 13:27] #897 closed

[2022-01-15 13:34] damithc commented on #205
I'm increasing the priority because Algolia DocSearch is undergoing a major revamp and they haven't been able to provide the search support for our module websites this semester so far. The sooner we reduce reliance on third-party search the better.

[2022-01-16 12:45] ong6 opened #1721 "Setting up on windows 11 does not work?"
**Tell us about your environment**
Windows 11

* **MarkBind Version:**
Current Release

**What did you do? Please include the actual source code causing the issue.**

I noticed that the startup guide does not request users to run `npm i` after the `npm link` command.
![image](https://user-images.githubusercontent.com/19247856/149660209-68b4874a-68f9-4133-9dc6-ad8d215ba94a.png)

When following the

[2022-01-16 13:32] ong6 commented on #1721
My suggestion: Just add a additional step of running `npm i` in the docs as that seemed to fix my issues. But investigating this issue would be a good idea also.

[2022-01-16 14:09] damithc commented on #1671
After using the feature for a while, I'm split in the middle. I sometimes disable line numbers because they feel odd (e.g., when showing output rather than code, or when the code block has only a few lines) or to save space.
It's more like
20% of the cases : better to have line numbers
20% : better not to have line numbers
60%: OK either way

[2022-01-16 14:29] jonahtanjz commented on #1721
Thanks for raising this issue @ong6

I've tested this in Windows 10 and it seems `npm run setup` can complete without any issues. This may be a Windows 11 specific issue.

`npm run setup` will run [`npm ci`](https://docs.npmjs.com/cli/v8/commands/npm-ci) instead of `npm intall`. The difference is that `npm ci` will install the dependencies from `package-lock.json` and validate using `package.json`

[2022-01-16 14:40] tlylt commented on #1671
Looking at a few code highlight/formatting services that I know, it does look like they go with no line number as a default.
E.g. [Carbon](https://carbon.now.sh/)
![image](https://user-images.githubusercontent.com/41845017/149664400-80f5c9eb-e887-4e3a-a11e-aa3f1af82645.png)

[gatsby-remark-highlight-code](https://github.com/deckgo/gatsby-remark-highlight-code#plugin-options)
![image](https://user-

[2022-01-16 15:49] ong6 commented on #1721
Thanks for the quick reply @jonahtanjz! I shall make a PR with a documentation update for the people who accidentally updated to windows 11 😄.

[2022-01-17 05:06] jonahtanjz commented on #1720
Seems like this is due to Vue treating the double curly braces as [text interpolation](https://vuejs.org/v2/guide/syntax.html#Text). Will probably need to process these curly braces in the [_collectNavigableHeadings method](https://github.com/MarkBind/markbind/blob/ed2f323325b1005ce9f578bd94a4227bfdf73d92/packages/core/src/Page/index.js#L189) and wrap them in [`<span v-pre>{{ content }}</span>`](h

[2022-01-18 07:58] jovyntls opened #1723 "Missing linebreak in logging below progress bar"
**Tell us about your environment**
MacOS Monterey
* **MarkBind Version:** v3.1.0

**What did you do? Please include the actual source code causing the issue.**
Run `markbind serve` on a site with logger warnings

**What did you expect to happen?**
The warning log message should be on a new line below the progress bar.

**What actually happened? Please include the actual, raw output.**
There is a m

[2022-01-18 08:10] tlylt commented on #1720
I see, thanks for the diagnosis! Will put up a fix for this in a while:)

[2022-01-18 14:00] ryoarmanda commented on #1723
Ah, this is something that I have been eyeing on for a while. Further research may be needed, but for a preliminary thought, I think this might be because of the way this kind of "updatable" progress bar works. If I recall it right, the common trick of progress bars like these are to use the return carriage (`\r`) to overwrite the old bar. The incoming logs messed up with the flow a little bit and

[2022-01-18 15:49] jovyntls commented on #1723
Hi @ryoarmanda, thanks for your explanations (it was helpful 😄 )! I'll take some time to look into this and see what can be done.

[2022-01-18 16:03] ong6 opened #1725 "When using the Convert feature, some links are not relative to the base url"
**Is your request related to a problem?**

When using `markbind init -convert` I realized that some of the relative links do not have a baseUrl but others do.

No baseUrl:
![image](https://user-images.githubusercontent.com/19247856/149972549-d70b9e6e-78af-4046-8c1e-16c8f1fb6249.png)

With baseUrl:
![image](https://user-images.githubusercontent.com/19247856/149972826-572543e0-e6a4-4589-a224-a844acd

[2022-01-18 16:08] ong6 opened #1726 "When using the convert feature, an extra newline is generated"
**Is your request related to a problem?**

When using `markbind init -convert` the pages on site-nav do not generate properly.

Example:
![image](https://user-images.githubusercontent.com/19247856/149973749-c5a35852-2fc3-48a2-99af-cbc4e770d7cc.png)

This causes an issue when the user tries to serve the webpage as markbind cannot accurately determine the closing tags.

Example:
![image](https://use

[2022-01-18 17:13] damithc commented on #1726
IIRC, deep indentation causes markdown parsers to treat text as a code block. e.g.,
![image](https://user-images.githubusercontent.com/1673303/149985288-31b63dad-ee8b-480a-9aad-193c6c97291e.png)

[2022-01-18 17:45] ong6 commented on #1726
Yeah, not sure how to fix this other than to fix the newline part of it. I was looking into how to make markdown parsers ignore the empty spaces but it has not yielded any results yet.

But now with these 2 issues resolved, convert now works buttery smooth. No editing required.

[2022-01-19 02:49] damithc commented on #1726
When writing code manually, I use 2-spaces indentation instead of 4-spaces and omit indentations in some places altogether, due to this problem.

[2022-01-19 03:14] jovyntls commented on #1418
Hello! For this part:

Could I check what counts as a duplicated broken link? i.e. If the same (broken) intralink is on two different pages, should it be reported twice or only once? Should we report all pages where a broken link has been found?

Implementation wise, I was thinking of maintaining a set of links that have been validated, and only validate links if it is not already in the set.

[2022-01-19 03:38] damithc commented on #1418
Currently, if a certain markdown file has a broken link but that file is being included in many different places, is the problem reported once or for each of those inclusions?

Technically, the number of broken-links reported should match the number of fixes required, but not sure if we can achieve that.

[2022-01-19 04:21] #1504 closed

[2022-01-19 04:26] #1720 closed

[2022-01-19 06:46] ryoarmanda commented on #1421
I can take a crack at it @ang-zeyu ! Not the most ideal time 😅 but I guess doing this now would still be quite okay.

Just to clarify and give a little bit of my plan, the approach would swap most of our backend `.js` files in the repository with `.ts` files. The compilation will be done with `tsc` and compiled in the same directory as the `.ts` files. The compilation command may be added within `

[2022-01-19 09:26] jovyntls commented on #1418
@damithc  If a certain markdown file has a broken link but that file is being included in many different places, currently it is reported for each of these inclusions. If a broken link appears multiple times on the same page, it is also reported multiple times.

[2022-01-19 09:30] damithc commented on #1418
I see. Thanks for investigating @jovyntls
It's that sort of duplication that we can try to get rid of.

[2022-01-19 10:03] jovyntls commented on #1418
Ok! Just to clarify, the desired behaviour should be:

* A broken link occurs multiple times on the same page (no inclusion) => Report this multiple times, to match the number of fixes required
* A broken link occurs on a page, which is included in many pages => Report this once, because only one fix is needed (on the original page)

[2022-01-19 11:28] damithc commented on #1418
Yes, that's my current thinking. Other suggestions are welcome too.

[2022-01-19 13:10] damithc opened #1729 "Update Algolia plugin"
I'm having trouble getting the Algolia plugin to work with the latest search indexes provided by them (note that they migrated to a new infra recently).

Steps:
1. Go to https://codesandbox.io/s/currying-leaf-qwo9k?file=/src/index.js  (this is a sandbox provided by Algolia devs to us)
2. Change 2021 to 2022 as indicated below
    ![image](https://user-images.githubusercontent.com/1673303/150136048

[2022-01-19 15:53] jonahtanjz commented on #1729
Seems like Algolia now requires `appId` to be specified if not it will return a 403 error as shown.

![image](https://user-images.githubusercontent.com/47470981/150165580-739eab09-e5f9-40f8-ad0d-a0f3a09ff114.png)

Our current implementation does not include the `appId`. Not sure if this was missed out or a new requirement by Algolia.

![image](https://user-images.githubusercontent.com/47470981/150

[2022-01-19 16:07] damithc commented on #1729
Thanks for the investigation @jonahtanjz
Let's fix it soon so that I can start using Algolia again.

[2022-01-20 05:32] #1725 closed

[2022-01-20 13:21] ang-zeyu commented on #1421
Yup. Can (and probably should) be done incrementally as well. Converting a select few files should do for a start!

This was my general idea back then but things might have improved (from tsc side) since then. Feel free to explore alternatives if we can satisfy the requirements even better 😄

One more important note on version control -- generated `.js` (+ sourcemaps) files should probably not be

[2022-01-20 13:50] ang-zeyu commented on #1671
I guess this is somewhat subjective.

I think one thing we can agree on is a global `style.line_numbers` config key of sorts though; (and then overridable on a case-by-case basis by `line-numbers` / `no-line-numbers`)

Many of our code examples in the user guide don't need line numbers, it would be quite convenient to hide them globally with this option. https://github.com/MarkBind/markbind/issues

[2022-01-20 14:13] ang-zeyu commented on #1496
https://github.com/MarkBind/markbind/issues/1671#issuecomment-1013888180

Some other features in the linked comment also seem useful (line height / size adjustment? 🤔)

[2022-01-20 14:16] ang-zeyu commented on #1418
How about:
- report all broken links at once, at the end, once all pages have finished building (minimize disjointed messages, should be simpler to implement as well)
- for any given source file, report all its broken links, and the count of broken links only once

[2022-01-20 14:51] ryoarmanda opened #1731 "Embeds do not scale, causing overflow on mobile"
**Tell us about your environment**
Windows

**MarkBind Version:**
v3.1.0

**What did you do? Please include the actual source code causing the issue.**
From default template (via `markbind init`), serve the site and observe it on mobile dimensions (e.g. through Chrome's device emulation).

**What did you expect to happen?**
Everything is scaled appropriately

**What actually happened? Please inclu

[2022-01-21 08:18] tlylt commented on #1671
Hi @ang-zeyu, to clarify the tasks for this issue:
- Enable a global config for line numbers
  - will `style.codeLineNumbers` be ok as oppose to `style.line_numbers`, to be aligned with variables like `codeTheme`?
  - it will default to `true` if not specified
  - e.g:
  - ![image](https://user-images.githubusercontent.com/41845017/150490742-69c70e60-cba6-4d2a-b597-f6c6941e1e2d.png)
- Update docs

[2022-01-21 11:58] tlylt commented on #1638
After investigation, it seems like it is actually an issue with the id for the title used. The main reason why there is such a strange case is because of the following issue discussed [here](https://github.com/twbs/bootstrap/issues/28866):

[2022-01-21 16:28] #1015 closed

[2022-01-22 04:30] ang-zeyu commented on #1671
👍, seems more consistent.

+ a `.line-numbers` class option for overriding when `style.codeLineNumbers=false`

[2022-01-22 08:56] ryoarmanda commented on #1421
Agree, I will draft up a PR that initially converts some of the smaller `.js` files in our `core` package, see if it's all good, then continue working up towards the main files in `core`.

It is also what I have came up with so far with my research, I think the approach still holds up for now. For other related aspects, this is what I would likely go for:
- Debugging via IDE: Generate sourcemaps
-